<div class="container">
  <div class="row row-content">
    <div class="col">
      <br>
      <h3>{{currentUser.username}}</h3>
      <hr>
    </div>
  </div>
  <div class="row justify-content-center">
    <form [formGroup]="profileForm" (ngSubmit)="onChangeUsername()" >
      <div class="form-row align-items-top">
        <div class="col-auto">
          <label class="sr-only" for="inlineFormInput">Name</label>
          <input type="text" formControlName="username" class="form-control mb-2" id="inlineFormInput"
                 placeholder={{currentUser.username}} [ngClass]="{ 'is-invalid': submitted && pf.username.errors }">
          <div *ngIf="submitted && pf.username.errors" class="invalid-feedback">
            <div *ngIf="pf.username.errors.required">Es necesario el nombre de usuario</div>
            <div *ngIf="pf.username.errors.minlength">El nombre de usuario debe tener al menos 4 caracteres</div>
            <div *ngIf="pf.username.errors.maxlength">El nombre de usuario debe tener como m&aacute;ximo 15 caracteres
            </div>
          </div>
        </div>
        <div class="col-auto">
          <button class="btn btn-primary mb-2">Cambiar</button>
        </div>
      </div>
    </form>
  </div>
  <div class="col-sm-12">
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
  </div>
</div>
