<div class="credits">

  <h1>Cr&eacute;ditos</h1>

  <h2>Im&aacute;genes</h2>
  <div class="text">
    <p>Bandera de Cantabria:
      <a class="link" href="https://commons.wikimedia.org/wiki/File:Flag_of_Cantabria_(Official).svg">
        commons.wikimedia.org
      </a>
    </p>
    <p>Bandera de Extremadura:
      <a class="link"
         href="https://es.wikipedia.org/wiki/Extremadura#/media/Archivo:Flag_of_Extremadura_(with_coat_of_arms).svg">
        commons.wikimedia.org
      </a>
    </p>
  </div>

</div>
