<div class="home">

  <div class="header">
    <h1>Elige tu nueva contrase&#241;a</h1>
  </div>

  <div>
    <form class="passwordForm" [formGroup]="passwordForm" (ngSubmit)="onSetPassword()">
      <input type="hidden" formControlName="token" class="form-control"/>
      <div class="form">
        <input type="password" formControlName="password" class="username" placeholder="Contrase&#241;a"
               [ngClass]="{ 'is-invalid': submitted && pf.password.errors }"/>
        <div *ngIf="submitted && pf.password.errors" class="invalid-feedback">
          <div *ngIf="pf.password.errors.required">Es necesaria una contrase&#241;a</div>
          <div *ngIf="pf.password.errors.minlength">La contrase&#241;a debe tener al menos 6 caracteres</div>
        </div>
        <button class="save">Crear nueva contrase&#241;a</button>
      </div>
    </form>
  </div>

</div>
