.delegate {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.explanation {
  display: flex;
  height: 348px;
  padding: 0 20px;
  background: #3E979E;
  justify-content: center;
  gap: 97px;
}

.explanation-text-container {
  display: flex;
  width: 50%;
  justify-content: flex-end;
}

.explanation-img-container {
  display: flex;
  width: 50%;
  justify-content: flex-start;
}

.explanation-text {
  display: flex;
  flex-direction: column;;
  width: 425px;
  padding-top: 57px;
  gap: 25px;
}

.explanation-img1 {
  position: absolute;
  width: 52%;
  right: 0;
  bottom: 0;
  top: 45px;
}

.explanation-img2 {
  position: absolute;
  width: calc(52% - 25px);
  right: 0;
  bottom: 0;
  top: 45px;
}

.explanation-img3 {
  position: absolute;
  height: 348px;
}

.text {
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 18px;
  line-height: 130.7%;
  letter-spacing: 0.02em;
  color: #FFFFFF
}

h2 {
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 32px;
  line-height: 37px;
  letter-spacing: 0.02em;
  color: #FFFFFF;
}

.delegation-type {
  display: flex;
  flex-direction: column;
  width: 1000px;
  margin: 0 auto;
  padding-left: 20px;
  gap: 20px;
}

.login-container {
  display: flex;
  flex-direction: column;
  padding: 34px 0 0 0;
}

h3 {
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 32px;
  line-height: 37px;
  letter-spacing: 0.02em;
  color: #3E979E;
}

.login-options {
  display: flex;
  gap: 100px;
  align-items: center;
}

.login {
  display: flex;
}

.facebook-google {
  display: flex;
  flex-direction: column;
  margin: 32px 0;
  gap: 12px;
}

.facebook-button {
  position: relative;
  width: 265px;
  height: 24px;
  padding: 12px 52px 12px 52px;
  background: #475993;
  border-radius: 3px;
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 130.7%;
  text-align: center;
  letter-spacing: 0.02em;
  color: #FFFFFF;
}

.google-button {
  position: relative;
  width: 369px;
  height: 48px;
  border: 1px solid #4B4B4B;
  box-sizing: border-box;
  border-radius: 3px;
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 130.7%;
  text-align: center;
  letter-spacing: 0.02em;
  background: white;
  color: #4B4B4B;
}

.button:hover {
  cursor: pointer;
}

.facebook-img {
  position: relative;
  top: -2px;
  right: 14px;
  width: 21px;
  height: 21px;
  vertical-align: middle;
}

.google-img {
  vertical-align: middle;
}

.loginForm {
  margin: 18px auto;
  width: 170px;
  padding-top: 10px;
}

.form-control {
  width: 160px;
  height: 40px;
  margin: 10px 0;
  background: #F5F5F5;
  border: 0;
  border-radius: 7px;
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 15px;
  line-height: 144.7%;
  text-align: center;
  letter-spacing: 0.02em;
  color: black;
}

.login-button {
  width: 170px;
  height: 53px;
  padding: 10px 18px;
  background: #3E979E;
  border: 2px solid #3E979E;
  box-sizing: border-box;
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 130.7%;
  letter-spacing: 0.02em;
  color: #FFFFFF;
}

.login-button:hover {
  color: #3E979E;
  background: #FFFFFF;
}

.vertical-line {
  height: 200px;
  border-left: 2px solid #3E979E;
}

.user-delegation {
  display: flex;
}

.user-delegation-combo {
  display: flex;
  flex-direction: column;
}

.delegationForm {
  display: flex;
  padding-top: 20px;
  flex-direction: column;
}

.find-user {
  width: 269px;
  height: 22px;
  background: #F1F1F1;
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 15px;
  line-height: 144.7%;
  letter-spacing: 0.02em;
  color: #BDBDBD;
  padding: 9px 22px;
  border: none;
  background-image: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}

input:focus {
  outline: none;
}

input:focus::placeholder {
  color: transparent;
}

.option {
  background: #E4E4E4;
}

.option:hover {
  background: #D5D3D3;
  cursor: pointer;
}

.find-user-separator {
  width: 313px;
  height: 1px;
  background: #C4C4C4;
}

.save-button {
  display: flex;
  position: relative;
  width: 200px;
  height: 53px;
  padding: 13px 18px;
  background: #3E979E;
  border: 2px solid #3E979E;
  box-sizing: border-box;
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 130.7%;
  letter-spacing: 0.02em;
  color: #FFFFFF;
  cursor: pointer;
  box-shadow: none;
  outline: none;
}

.save-button:hover {
  color: #3E979E;
  background: #FFFFFF;
}

.search-button {
  position: relative;
  width: 200px;
  height: 53px;
  padding: 13px 18px;
  background: #3E979E;
  border: 2px solid #3E979E;
  box-sizing: border-box;
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 130.7%;
  letter-spacing: 0.02em;
  color: #FFFFFF;
  cursor: pointer;
  box-shadow: none;
  outline: none;
}

.search-button:hover {
  color: #3E979E;
  background: #FFFFFF;
}


.no-delegate {
  position: relative;
  width: 200px;
  height: 53px;
  padding: 13px 18px;
  background: #3E979E;
  border: 2px solid #3E979E;
  box-sizing: border-box;
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 130.7%;
  letter-spacing: 0.02em;
  color: #FFFFFF;
  cursor: pointer;
  box-shadow: none;
  outline: none;
}

.no-delegate:hover {
  color: #3E979E;
  background: #FFFFFF;
}


.tick {
  display: flex;
  width: 34px;
  height: 30px;
  margin: 20px;
  background: url(../../assets/img/tick.svg) no-repeat;
}

.tick-background {
  display: flex;
  margin: 12px 3px;
  width: 19px;
  height: 19px;
  background: #DDDDDD;
  border-radius: 2px;
  z-index: -1;
}

.tick-background-only {
  display: flex;
  width: 19px;
  height: 19px;
  margin: 30px 27px;
  background: #DDDDDD;
}

.buttons {
  display: flex;
}

swiper {
  display: flex;
  height: 150px;
}

.party-container {
  display: flex;
  height: 150px;
  align-items: center;
  justify-content: center;
  background: #FFF;
}

.party-tick {
  display: flex;
  align-self: flex-end;
}

.party-button {
  border: 0;
  cursor: pointer;
  background: #FFF;
}

.party-container-mobile {
  display: none;
  justify-content: space-between;
  background: #EFEFEF;
  border-radius: 9px;
  padding: 5px 10px;
  gap: 5px
}

.party-img-mobile {
  display: flex;
  width: 95px;
  padding: 7px 13px  5px 13px;
  justify-content: center;
  align-self: center;
}

.tick-mobile {
  display: flex;
  width: 26px;
  height: 27px;
  background: url(../../assets/img/tick.svg) #D5D5D5 no-repeat;
  padding-left: 10px;
  margin-left: -10px;
  align-self: center;
}

.tick-pending-mobile {
  display: flex;
  width: 26px;
  height: 27px;
  background: #D5D5D5;
  align-self: center;
}

.social{
  display: none;
  position: relative;
  padding-top: 28px;
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 18px;
  line-height: 130.7%;
  text-align: center;
  letter-spacing: 0.02em;
  color: #333333;
}

.swiper-container {
  max-width: 100%;
}


@media (max-width: 1300px) {

  .explanation {
    height: 330px;
  }

  .explanation-img1 {
    width: 57%;
  }

  .explanation-img2 {
    width: 55%;
  }
}

@media (max-width: 1150px) {

  .explanation-img1 {
    width: 60%;
  }

  .explanation-img2 {
    width: 58%;
  }

  .explanation-img3 {
    height: 300px;
  }
}

@media (max-width: 1030px) {

  .explanation {
    flex-direction: column-reverse;
    height: 576px;
    gap: 24px;
  }

  .explanation-text-container {
    width: 100%;
    justify-content: center;
    text-align: center;
  }

  .explanation-text {
    padding: 0;
  }

  .explanation-img-container {
    width: 100%;
    justify-content: center;
  }

  .explanation-img1 {
    display: none;
  }

  .explanation-img2 {
    display: none;
  }

  .explanation-img3 {
    position: relative;
    width: 100%;
  }

  .delegation-type {
    width: 100%;
    height: auto;
  }
}

@media (max-width: 760px) {

  swiper {
    display: none;
  }

  .party-container-mobile {
    display: flex;
    height: 68px;
  }

  h3 {
    align-self: center;
  }

  .login {
    padding: 0 20px;
    text-align: center;
  }

  .user-delegation {
    flex-direction: column;
    justify-items: center;
  }

  .delegation-type {
    width: calc(100% - 80px);
    padding: 10px 40px;
  }

  .user-delegation-combo {
    align-items: center;
  }

  .login-container {
    align-items: center;
  }

  .login-options {
    flex-direction: column-reverse;
    gap: 10px
  }

  .vertical-line {
    display: none;
  }

  .social {
    display: flex;
  }
}
