<div class="delegate">
  <div class="explanation">
    <div class="explanation-text-container">
      <div class="explanation-text">
        <h2>As&iacute; es como funciona</h2>
        <p class="text">Solo si no votas en una determinada propuesta,
          tu voto ser&aacute; el seleccionado por el usuario o partido al que delegas tu voto.
          <br>
          <br>
          Puedes cambiar de usuario y de partido cuando quieras, o no delegar tu voto a nadie.</p>
      </div>
    </div>
    <div class="explanation-img-container">
      <img class="explanation-img1" src="../../assets/img/delegateexplanation1.svg" alt="Delegación de voto">
      <img class="explanation-img2" src="../../assets/img/delegateexplanation2.svg" alt="Delegación de voto">
      <img class="explanation-img3" src="../../assets/img/delegateexplanation3.svg" alt="Delegación de voto">
    </div>
  </div>
  <div class="delegation-type">
    <div class="login-container" *ngIf="!currentUser">
      <h3 class="login">Inicia sesi&oacute;n para delegar tu voto</h3>
      <div class="login-options">

        <form class="loginForm" [formGroup]="loginForm" (ngSubmit)="onLogin()">
          <div class="form-group">
            <input type="text" formControlName="username" class="form-control" placeholder="Usuario"
                   [ngClass]="{ 'is-invalid': submitted && lf.username.errors }"/>
            <div *ngIf="submitted && lf.username.errors" class="invalid-feedback">
              <div *ngIf="lf.username.errors.required">Es necesario el nombre de usuario</div>
            </div>
          </div>
          <div class="form-group">
            <input type="password" formControlName="password" class="form-control" placeholder="Contrase&#241;a"
                   [ngClass]="{ 'is-invalid': submitted && lf.password.errors }"/>
            <div *ngIf="submitted && lf.password.errors" class="invalid-feedback">
              <div *ngIf="lf.password.errors.required">Es necesaria la contrase&#241;a</div>
            </div>
          </div>
          <div class="form-group">
            <button class="login-button">Iniciar sesi&oacute;n</button>
          </div>
        </form>

        <div class="social">O inicia sesi&oacute;n con tu nombre usuario y contraseña</div>
        <div class="vertical-line"></div>

        <div class="facebook-google">
          <div class="button facebook-button" (click)="signInWithFB()">
            <img class="facebook-img" src="assets/img/facebook_login.svg"/>
            Iniciar sesi&oacute;n con Facebook
          </div>
          <div class="button google-button" (click)="signInWithGoogle()">
            <img class="google-img" src="assets/img/btn_google_light_normal_ios.svg"/>
            Iniciar sesi&oacute;n con Google
          </div>
        </div>
        <div class="social">Inicia sesi&oacute;n con tus redes sociales</div>
      </div>
    </div>

    <div class="login-container" *ngIf="currentUser">
      <h3 class="login" *ngIf="delegatedUserValue">Delega tu voto en otro usuario</h3>
      <h3 class="login" *ngIf="!delegatedUserValue">Delega tu voto en un usuario</h3>
      <div class="user-delegation">
        <div class="user-delegation-combo">
          <form class="delegationForm" [formGroup]="findUsersForm">
            <div class="form-group">
              <input type="text" formControlName="username" class="find-user" (keyup)="findUsers()"
                     [ngClass]="{ 'is-invalid': submitted && f.username.errors }"
                     placeholder={{placeholder()}}/>
              <div *ngFor="let user of foundUsers">
                <div class="find-user option" (click)="setTentativeUser(user.username)">{{user.username}}</div>
                <div class="find-user-separator"></div>
              </div>
              <div *ngIf="submitted && f.username.errors" class="invalid-feedback">
                <div *ngIf="f.username.errors.required">
                  <span>Es necesario un nombre de usuario con al menos 4 caracteres</span>
                </div>
              </div>
            </div>
          </form>
          <div class="tick" *ngIf="this.delegatedUserValue && !this.tentativeUser">
            <div class="tick-background"></div>
          </div>
          <div class="tick-background-only" *ngIf="this.tentativeUser"></div>
          <div class="buttons">
            <button class="save-button" (click)="delegateUser()"
                    [ngStyle]="{'display': tentativeUser ? 'flex' : 'none'}">
              Guardar cambios
            </button>
          </div>
        </div>
      </div>
    </div>

    <div class="login-container" *ngIf="currentUser">
      <h3 class="login">O selecciona el partido al que delegas tu voto: </h3>
    </div>
  </div>

  <swiper *ngIf="currentUser" class="swiper-container" [config]="config">
    <div class="swiper-wrapper">
      <div class="swiper-slide" *ngFor="let party of parties">
        <div class="party-container">
          <button class="party-button" (click)="delegateParty(party)">
            <img src="assets/img/{{party}}.svg" alt="{{party}}"
                 [ngStyle]="{'width': logoWidth(party), 'height': logoHeight(party)}">
          </button>
          <div class="tick party-tick" *ngIf="delegatedPartyValue && delegatedPartyValue.name === party">
          </div>
        </div>
      </div>
    </div>
  </swiper>

  <div class="delegation-type" *ngIf="currentUser">
    <div class="party-container-mobile" *ngFor="let party of parties" (click)="delegateParty(party)">
      <div class="party-img-mobile">
        <img src="assets/img/{{party}}.svg" alt="{{party}}"
             [ngStyle]="{'width': logoMobileWidth(party), 'height': logoMobileHeight(party)}">
      </div>
      <div class="tick-mobile" *ngIf="delegatedPartyValue && delegatedPartyValue.name === party">
        <div class="tick-background"></div>
      </div>
      <div class="tick-pending-mobile" *ngIf="!(delegatedPartyValue && delegatedPartyValue.name === party)"></div>
    </div>
  </div>

  <div class="delegation-type">
    <div class="login-container">
      <div class="login-container" *ngIf="currentUser">
        <h3 class="login">No delegar mi voto en ning&uacute;n usario o partido</h3>
        <button class="no-delegate" (click)="removeDelegations()">No delegar</button>
      </div>
    </div>
  </div>

  <br>
  <br>
  <br>
  <br>

</div>

