.env
.idea
*.cfg
*.iml
*.log
*.pot
*.pyc
local_settings.py
staticfiles
media
backup
/backend/referenda/node_modules
/frontend/bower_components
/frontend/node_modules
/frontend/dist
/frontend/app/images
