.env
.idea
*.cfg
*.iml
*.log
*.pot
*.pyc
*.key
*.cer
*.crt
*.csr
*.pem
*.srl
local_settings.py
staticfiles
media
backup
backend/referenda/node_modules
backend/referenda/log
backend/referenda/config.js
frontend/app/images
frontend/bower_components
frontend/dist
frontend/node_modules
