.env
.idea
*.cfg
*.iml
*.log
*.pot
*.pyc
local_settings.py
staticfiles
media
backup
backend/referenda/node_modules
backend/referenda/log
frontend/app/images
frontend/bower_components
frontend/dist
frontend/node_modules
