
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
               <h2>Referenda</h2>
               <hr>
            </div>
        </div>
        
        <div class="row row-content">
            <div class="col-xs-12 col-sm-8 justify">
                <h4> Referenda es una plataforma online de Democracia Directa </h4>
                <br>
                <h3> Objetivo: </h3>
                <p> Nuestro objetivo es acercar la pol&iacute;tica a la ciudadan&iacute;a.
                    Queremos formar una opinión pública responsable fomentando el conocimiento
                    sobre nuestras leyes, su proceso de creación y sus legisladores. </p>
                <h3> Democracia Directa: </h3>
                <p> Para conseguir estos objetivos utilizamos la Democracia Directa,
                    que permite a cualquier ciudadano indicar si está o no de acuerdo con una determinada ley.
                    Y lo hacemos ofreciendo la posiblidad de votar las mismas leyes y propuestas que se debaten
                    a la vez en el Congreso de los Diputados. </p>
                <h3> Delegación de voto: </h3>
                <p> Apostamos por la delegación de voto en una organización o en un individuo permitiendo a
                    nuestros usuarios delegar sus votos en expertos y personas influyentes cuando se discuta sobre
                    ciertos temas. Esta delegación es transitiva, pudiéndose formar grandes cadenas que
                    canalizan los votos. </p>
                <hr>
                <br>
                <br>
                <br>
                <br>
            </div>
            <div class="col-xs-12 col-sm-4">
            </div>
        </div>

    </div>
