
    <div class="container">

        <div class="row row-content">

            <div class="col-xs-12 col-md-12">
                <div class="col-xs-6 col-md-7 ">
                    <div ng-if="loggedIn">
                        <h3 ng-if="delegation != 'none'">Actualmente tienes tus votos delegados a:</h3>
                        <h3 ng-if="delegation == 'none'">Todav&iacute;a no has delegado tu voto a nadie:</h3>
                    </div>
                    <h3 ng-if="!loggedIn">Inicia sesi&oacute;n para delegar tu voto</h3>
                    <div class="funciona">
                        <p>As&iacute; es como funciona</p>
                        <span>Solo si no votas en una determinada propuesta,
                            tu voto ser&aacute; el seleccionado por el usuario o partido al que delegas tu voto.
                        </span>
                        <br><br>
                        <span>Puedes cambiar de usuario y de partido cuando quieras, o no delegar tu voto a nadie.
                        </span>
                    </div>
                </div>
                <div ng-if="!loggedIn" class="col-xs-2 col-md-2 party-selected">
                </div>
                <div ng-if="loggedIn">
                    <div ng-if="delegation == 'party'" class="col-xs-2 col-md-2 party-selected">
                        <img src="{{party.logo}}" height="150" width="250"/>
                    </div>
                    <div ng-if="delegation == 'user'">
                        <h3> {{delegatedUser.username}}</h3>
                    </div>
                </div>
            </div>


            <div class="col-xs-12 col-md-12">
                <hr>
                <div class="col-xs-12 col-md-4">
                    <h3>Delega tu voto en otro usuario:</h3>
                    <div class="input-group">
                        <input type="text" ng-model="search" class="form-control" placeholder="Usuario ...">
                        <span class="input-group-addon" id="basic-addon1"><span class="glyphicon glyphicon-search"></span></span>
                    </div>
                </div>

                <div class="col-xs-12 col-md-8">
                    <div class="col-xs-12 col-md-3 party-mixto" ng-repeat="user in users">
                        <form class="form-horizontal" name="delegateUser"
                              ng-submit="submitDelegateUser(user._id)" novalidate>
                            <span class="user-delegated"> {{user.username}} </span>
                            <button type="submit" class="btn btn-primary center-block"
                                    ng-disabled="delegateUser.$invalid">Delegar
                            </button>
                        </form>
                    </div>
                </div>
            </div>

            <div class="col-xs-12 col-md-12">
                <div class="col-xs-12 col-md-12">
                    <hr>
                    <h3>Selecciona el partido al que delegas tu voto:</h3>
                    <br>
                </div>
            </div>

            <div class="col-xs-12">
                <div class="col-xs-12 col-sm-1 party">
                </div>
                <div class="col-xs-12 col-sm-3 party-right">
                    <form name="partyFormPP" ng-submit="submitDelegatePartyPP()" novalidate>
                        <button class="no-border" type="submit" ng-disabled="partyFormPP.$invalid">
                            <img src="../images/pp.svg" height="80" width="100"/>
                        </button>
                    </form>
                </div>
                <div class="col-xs-12 col-sm-3 party-right">
                    <form name="partyFormPsoe" ng-submit="submitDelegatePartyPsoe()" novalidate>
                        <button class="no-border" type="submit" ng-disabled="partyFormPsoe.$invalid">
                            <img src="../images/psoe.svg" height="80" width="100"/>
                        </button>
                    </form>
                </div>
                <div class="col-xs-12 col-sm-3 party-left">
                    <form class="form-horizontal" name="partyFormPodemos" ng-submit="submitDelegatePartyPodemos()" novalidate>
                        <button class="no-border" type="submit" ng-disabled="partyFormPodemos.$invalid">
                            <img src="../images/podemos.svg" height="80" width="100"/>
                        </button>
                    </form>
                </div>
                <div class="col-xs-12 col-sm-2 party">
                </div>
            </div>

            <div class="col-xs-12">
                <div class="col-xs-12 col-sm-1 party">
                </div>
                <div class="col-xs-12 col-sm-3 party-right">
                    <form class="form-horizontal" name="partyFormCiudadanos" ng-submit="submitDelegatePartyCiudadanos()" novalidate>
                        <button class="no-border" type="submit" ng-disabled="partyFormCiudadanos.$invalid">
                            <img src="../images/ciudadanos.png" height="80" width="250"/>
                        </button>
                    </form>
                </div>
                <div class="col-xs-12 col-sm-3 party-right">
                    <form class="form-horizontal" name="partyFormErc" ng-submit="submitDelegatePartyErc()" novalidate>
                        <button class="no-border" type="submit" ng-disabled="partyFormErc.$invalid">
                            <img src="../images/erc.png" height="80" width="200"/>
                        </button>
                    </form>
                </div>
                <div class="col-xs-12 col-sm-3 party-left">
                    <form class="form-horizontal" name="partyFormPnv" ng-submit="submitDelegatePartyPnv()" novalidate>
                        <button class="no-border" type="submit" ng-disabled="partyFormPnv.$invalid">
                            <img src="../images/pnv.png" height="80" width="100"/>
                        </button>
                    </form>
                </div>
                <div class="col-xs-12 col-sm-2 party">
                </div>
            </div>

            <div class="col-xs-12">
                <div class="col-xs-12 col-sm-1 party">
                </div>
                <div class="col-xs-12 col-sm-3 party-right">
                    <form class="form-horizontal" name="partyFormCC" ng-submit="submitDelegatePartyCC()" novalidate>
                        <button class="no-border" type="submit" ng-disabled="partyFormCC.$invalid">
                            <img src="../images/cc.png" height="80" width="100"/>
                        </button>
                    </form>
                </div>
                <div class="col-xs-12 col-sm-3 party-right">
                    <form class="form-horizontal" name="partyFormNC" ng-submit="submitDelegatePartyNC()" novalidate>
                        <button class="no-border" type="submit" ng-disabled="partyFormNC.$invalid">
                            <img src="../images/nc.png" height="80" width="100"/>
                        </button>
                    </form>
                </div>
                <div class="col-xs-12 col-sm-3 party-left">
                    <form class="form-horizontal" name="partyFormCompromis" ng-submit="submitDelegatePartyCompromis()" novalidate>
                        <button class="no-border" type="submit" ng-disabled="partyFormCompromis.$invalid">
                            <img src="../images/compromis.png" height="80" width="300"/>
                        </button>
                    </form>
                </div>
                <div class="col-xs-12 col-sm-2 party">
                </div>
            </div>

            <div class="col-xs-12">
                <div class="col-xs-12 col-sm-1 party">
                </div>
                <div class="col-xs-12 col-sm-3 party-right">
                    <form class="form-horizontal" name="partyFormFA" ng-submit="submitDelegatePartyFA()" novalidate>
                        <button class="no-border" type="submit" ng-disabled="partyFormFA.$invalid">
                            <img src="../images/fa.jpg" height="80" width="100"/>
                        </button>
                    </form>
                </div>
                <div class="col-xs-12 col-sm-3 party-right">
                    <form class="form-horizontal" name="partyFormUpn" ng-submit="submitDelegatePartyUpn()" novalidate>
                        <button class="no-border" type="submit" ng-disabled="partyFormUpn.$invalid">
                            <img src="../images/upn.png" height="80" width="100"/>
                        </button>
                    </form>
                </div>
                <div class="col-xs-12 col-sm-3 party-left">
                    <form class="form-horizontal" name="partyFormBildu" ng-submit="submitDelegatePartyBildu()" novalidate>
                        <button class="no-border" type="submit" ng-disabled="partyFormBildu.$invalid">
                            <img src="../images/bildu.png" height="80" width="300"/>
                        </button>
                    </form>
                </div>
                <div class="col-xs-12 col-sm-2 party">
                </div>
            </div>

            <div class="col-xs-12">
                <div class="col-xs-12 col-sm-4 party-mixto">
                    <img src="../images/void.png" height="80" width="100"/>
                </div>
                <div class="col-xs-12 col-sm-3 party-mixto">
                    <form class="form-horizontal" name="partyFormNoDelegar" ng-submit="submitDelegatePartyNoDelegar()" novalidate>
                        <button class="no-border" type="submit" ng-disabled="partyFormNoDelegar.$invalid">
                            <h3> No delegar </h3>
                        </button>
                    </form>
                </div>
                <div class="col-xs-12 col-sm-4 party">
                </div>
            </div>

        </div>

    </div>
