    <div class="container">

        <div class="row row-content">

            <div class="col-xs-12">
                <div swagger-ui input-type="json" api-explorer="true" input='
                  {
                "swagger": "2.0",
                "info": {
                "version": "1.0.0",
                "title": "Referenda",
                "description": "Spanish Pleno del Congreso de los Diputados unnoficial API.
                  Token needed for certain operations. Please ask for it at webmaster@referenda.es\n"
                },
                "host": "referenda.es:3443",
                "basePath": "/api",
                "schemes": [
                "https"
                ],
                "consumes": [
                "application/json"
                ],
                "produces": [
                "application/json"
                ],
                "paths": {
                "/parties": {
                "get": {
                "description": "Returns all parties with deputies in the Congress",
                "produces": [
                "application/json"
                ],
                "responses": {
                "200": {
                "description": "List all parties",
                "schema": {
                "title": "Party",
                "type": "array",
                "items": {
                "$ref": "#/definitions/Party"
                }
                }
                }
                }
                },

                },
                "/parties/{partyId}": {
                "get": {
                "parameters": [
                {
                "name": "partyId",
                "in": "path",
                "type": "string",
                "description": "ID of the party",
                "required": true
                }
                ],
                "responses": {
                "200": {
                "description": "Sends the party with partyId",
                "schema": {
                "$ref": "#/definitions/Party"
                }
                }
                }
                },

                }
                },
                "definitions": {
                "Party": {
                "type": "object",
                "properties": {
                "_id": {
                "type": "string"
                },
                "name": {
                "description": "Name of the party",
                "type": "string"
                },
                "logo": {
                "description": "URL of the partys logo",
                "type": "string"
                },
                "quota": {
                "description": "Partys quota in the Congress",
                "type": "integer",
                "format": "int32"
                }
                }
                }
                }
                }
                '></div>


            </div>

        </div>

    </div>
