<footer class="row-footer">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-1">
                <a class="navbar-brand" ui-sref="app"><img src="images/logo.png" height=100></a>
            </div>
            <div class="col-xs-12 col-sm-7">
            </div>
            <div class="col-xs-12 col-sm-4">
                <div style="padding: 30px 10px;">
                    <a class="btn btn-social-icon btn-twitter" href="http://twitter.com/"><i class="fa fa-twitter"></i></a>
                    <a class="btn btn-social-icon" href="mailto:"><i class="fa fa-envelope-o"></i></a>
                </div>
            </div>
        </div>
    </div>
</footer>
