<footer class="row-footer">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-4" style="height:100px;">
                <a class="navbar-brand" ui-sref="app"><img src="images/logo.png" height=100></a>
            </div>
            <div class="col-xs-12 col-sm-4 footer" >
                <ul>
                    <p><a ui-sref="app.dataprotection">Proteci&oacute;n de datos</a></p>
                    <p><a ui-sref="app.cookies">Pol&iacute;tica de cookies</a></p>
                    <p> Copyright © Referenda 2016 </p>
                </ul>
            </div>
            <div class="col-xs-12 col-sm-4 footer">
                <ul>
                    <a class="btn btn-social-icon btn-lg btn-twitter" href="http://twitter.com/Referenda_es">
                        <i class="fa fa-twitter"></i>
                    </a>
                    <a class="btn btn-social-icon btn-lg btn-default" href="mailto:admin@referenda.es">
                        <i class="fa fa-envelope-o"></i>
                    </a>
                </ul>
            </div>
        </div>
    </div>
</footer>
