<footer class="footer navbar-fixed-bottom">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-2" style="height:100px;">
                <a class="navbar-brand" ui-sref="app"><img src="images/logoR.png" height=100></a>
            </div>
            <div class="col-xs-12 col-sm-6 footer" >
                <ul>
                    <p><a ui-sref="app.aboutus">Qui&eacute;nes somos</a></p>
                    <p>
                        <a ui-sref="app.cookies">Pol&iacute;tica de cookies</a> |
                        <a ui-sref="app.dataprotection">Proteci&oacute;n de datos</a> |
                        <a ui-sref="app.developers">Developers</a>
                    </p>
                    <p> Copyright © Referenda 2017 </p>
                </ul>
            </div>
            <div class="col-xs-12 col-sm-4 footer">
                <ul>
                    <a class="btn btn-social-icon btn-lg btn-twitter" href="http://twitter.com/Referenda_es">
                        <i class="fa fa-twitter"></i>
                    </a>
                    <a class="btn btn-social-icon btn-lg btn-default" href="mailto:admin@referenda.es">
                        <i class="fa fa-envelope-o"></i>
                    </a>
                </ul>
            </div>
        </div>
    </div>
</footer>
