    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="cookie-consent" ng-if="!cookiesConsent">
            <div class="row row-content">
                <div class="col-xs-12 col-md-2">
                </div>
                <div class="col-xs-12 col-md-7">
                    <div >
                        <p> Esta web utiliza 'cookies' propias y de terceros para ofrecerte una mejor experiencia de
                            usuario y para tareas anal&iacute;ticas.</p>
                        <span>Al continuar navegando aceptas nuestra
                            <a class="cookie-policy" ui-sref="app.cookies">pol&iacute;tica de cookies</a>
                        </span>
                    </div>
                </div>
                <div class="col-xs-12 col-md-1">
                    <div>
                        <form class="form-horizontal aceptar-cookie" name="consentCookieForm"
                            ng-submit="consentCookie()" novalidate>
                            <button type="submit" class="btn btn-default" ng-disabled="consentCookieForm.$invalid">
                                <span>Aceptar</span>
                            </button>
                         </form>
                    </div>
                </div>
                <div class="col-xs-12 col-md-2">
                </div>
            </div>
        </div>
        <div class="container">
            <div class="navbar-header">
                <a class="navbar-brand" ui-sref="app"><img src="images/logo.png" height=100
                                                           style="padding: 0px 0px 0px 20px;"></a>
            </div>
            <div id="loginbar" class="navbar-collapse collapse">
                <ul class="nav navbar-nav navbar-right">
                    <li ng-if="!loggedIn"><a class="login" ng-click="openLogin()"> Iniciar Sesi&oacute;n</a>
                    </li>
                    <li ng-if="!loggedIn"><a ng-click="openRegister()"> Registrarse</a>
                    </li>
                    <li ng-if="loggedIn">
                    <a ui-sref="app.profile">{{username}}</a>
                    </li>
                    <li ng-if="loggedIn">
                    <a ng-click="logOut()">
                    <span class="glyphicon glyphicon-log-in"></span> Salir </a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <nav class="undertop">
    </nav>

    <nav class="sections">
        <div class="container">
            <div id="sections">
                <ul class="nav navbar-nav">
                    <li ng-class="{active: stateis('app')}"><a ui-sref="app"> VOTACIONES </a></li>
                    <li ng-class="{active: stateis('app.result')}"><a ui-sref="app.result"> RESULTADOS </a></li>
                    <li ng-class="{active: stateis('app.delegate')}"><a ui-sref="app.delegate"> DELEGAR VOTOS </a></li>
                </ul>
            </div>
        </div>
    </nav>
