
    <div class="container">

        <div class="row row-content">

            <ul class="media" ng-repeat="law in laws">
                <div class="col-xs-12 col-sm-6">
                    <div ng-if="!showLaws">
                        <h3>{{message}}</h3>
                    </div>
                    <div class="media" ng-if="showLaws">
                        <div class="media-body">
                            <div class="vertical-line">
                                <a class="law-headline" ui-sref="app.lawdetails({id: law._id})">{{law.headline}}</a>
                            </div>
                            <p class="law-description">{{law.short_description}}</p>
                            <a class="btn btn-primary sharp yes" ui-sref="app.lawdetails({id: law._id})">Votar</a>
                            <span class="date-end"> &nbsp;&nbsp;&nbsp;&nbsp;</span>
                            <span class="glyphicon glyphicon-calendar"/>
                            <span class="date-end"> Puedes votar hasta el
                                {{law.vote_end | date:"MM-dd-yyyy" }}</span>
                        </div>
                    </div>
                </div>

                <div class="col-xs-12 col-sm-6">
                    <div ng-if="!showLaws">
                        <h3>{{message}}</h3>
                    </div>
                    <div class="media" ng-if="showLaws">
                        <div class="media-body">
                            <div class="col-xs-12 col-sm-12">
                                <div class="col-xs-12 col-sm-12">
                                    <button type="button" class="btn btn-primary sharp yes maxi-font"
                                            style="width: {{ (80 * law.positive / (law.positive + law.negative +
                                            law.abstention)) | number:0 }}%; text-align: left;">S&Iacute;</button>
                                    <span class="result-number yes">{{ ( 100 * law.positive / (law.positive +
                                        law.negative + law.abstention)) | number:0 }}%</span>
                                </div>
                                <div class="col-xs-12 col-sm-12">
                                    <button type="button" class="btn btn-primary sharp no maxi-font"
                                            style="width: {{ (80 * law.negative / (law.positive + law.negative +
                                            law.abstention)) | number:0 }}%; text-align: left">NO</button>
                                    <span class="result-number no">{{ ( 100 * law.negative / (law.positive +
                                        law.negative + law.abstention)) | number:0 }}%</span>
                                </div>
                                <div class="col-xs-12 col-sm-12">
                                    <button type="button" class="btn btn-primary sharp abstention maxi-font"
                                            style="width: {{ (80 * law.abstention / (law.positive + law.negative +
                                            law.abstention)) | number:0 }}%; text-align: left;">ABSTENCI&Oacute;N</button>
                                    <span class="result-number abstention">{{ ( 100 * law.abstention / (law.positive +
                                        law.negative + law.abstention)) | number:0 }}%</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-12">
                    <hr>
                </div>
            </ul>

        </div>

    </div>
