
    <div class="container">

        <div class="row row-content">

            <div class="col-xs-12" ng-if="!showLaw">
                <h3>{{message}}</h3>
            </div>
            <div class="col-xs-12" ng-if="showLaw">
                <div class="media">
                    <div class="media-body">
                        <div class="col-xs-9">
                            <div class="vertical-line">
                                <h2>{{law.headline}}</h2>
                            </div>
                            <p class="law-description">{{law.long_description}}</p>
                            <span class="full-proposal">
                                <a href="{{law.link})">Propuesta completa</a>
                            </span>
                            <span class="date-end"> &nbsp;&nbsp;&nbsp;&nbsp;</span>
                            <span class="glyphicon glyphicon-calendar"/>
                            <span class="date-end"> Puedes votar hasta el
                                {{law.vote_end | date:"MM-dd-yyyy" }}</span>
                        </div>
                        <div class="col-xs-3">
                            <form class="form-horizontal" name="voteFormYes" ng-submit="submitVoteYes()" novalidate>
                                <button type="submit" class="btn btn-primary sharp yes"
                                        ng-disabled="voteFormYes.$invalid">S&Iacute;</button>
                            </form>
                            <form class="form-horizontal" name="voteFormNo" ng-submit="submitVoteNo()" novalidate>
                                <button type="submit" class="btn btn-primary sharp no"
                                        ng-disabled="voteFormNo.$invalid">NO</button>
                            </form>
                            <form class="form-horizontal" name="voteFormAbstention" ng-submit="submitVoteAbstention()"
                                  novalidate>
                                <button type="submit" class="btn btn-primary sharp abstention"
                                        ng-disabled="voteFormAbstention.$invalid">ABSTENCI&Oacute;N</button>
                            </form>
                        </div>
                        <div class="col-xs-12 col-sm-12">
                            <hr>
                            <div class="col-xs-12 col-sm-1">
                                <span class="result-number yes">{{law.positive}}</span>
                            </div>
                            <div class="col-xs-12 col-sm-11">
                                <button type="button" class="btn btn-primary sharp yes maxi-font"
                                        style="width: {{ (100 * law.positive / (law.positive + law.negative +
                                        law.abstention)) | number:0 }}%; text-align: left;">S&Iacute;</button>
                                <span class="result-number yes">{{ ( 100 * law.positive / (law.positive +
                                    law.negative + law.abstention)) | number:0 }}%</span>
                            </div>
                            <div class="col-xs-12 col-sm-1">
                                <span class="result-number no">{{law.negative}}</span>
                            </div>
                            <div class="col-xs-12 col-sm-11">
                                <button type="button" class="btn btn-primary sharp no maxi-font"
                                        style="width: {{ (100 * law.negative / (law.positive + law.negative +
                                        law.abstention)) | number:0 }}%; text-align: left;">NO</button>
                                <span class="result-number no">{{ ( 100 * law.negative / (law.positive +
                                    law.negative + law.abstention)) | number:0 }}%</span>
                            </div>
                            <div class="col-xs-12 col-sm-1">
                                <span class="result-number abstention">{{law.abstention}}</span>
                            </div>
                            <div class="col-xs-12 col-sm-11">
                                <button type="button" class="btn btn-primary sharp abstention maxi-font"
                                        style="width: {{ (100 * law.abstention / (law.positive + law.negative +
                                        law.abstention)) | number:0 }}%; text-align: left;">ABSTENCI&Oacute;N</button>
                                <span class="result-number abstention">{{ ( 100 * law.abstention / (law.positive +
                                    law.negative + law.abstention)) | number:0 }}%</span>
                            </div>
                            <div class="col-xs-12 col-sm-12">
                                <hr>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>

    </div>
