    <div class="ngdialog-message">
        <div class="">
            <h3>Iniciar Sesi&oacute;n</h3>
        </div>
        <div class="">&nbsp;</div>
        <div class="">
            <form ng-submit="doLogin()">
                <div class="form-group">
                    <label class="sr-only" for="username">Username</label>
                    <input type="text" class="form-control input-sm" id="username" placeholder="Username"
                           ng-model="loginData.username">
                </div>
                <div class="form-group">
                    <label class="sr-only" for="password">Password</label>
                    <input type="password" class="form-control input-sm" id="password" placeholder="Password"
                           ng-model="loginData.password">
                </div>
                <div class="checkbox">
                    <label>
                        <input type="checkbox" ng-model="rememberMe"> Recordarme
                    </label>
                </div>
                <button type="submit" class="btn btn-info btn-sm">Entrar</button>
                <button type="button" class="btn btn-default btn-sm" ng-click=closeThisDialog("Cancel")>
                    Cancelar
                </button> &nbsp; &nbsp;
                <a ng-click=openRegister()>Registrarse</a>
            </form>
        </div>
        <div>

        </div>
    </div>
