
    <div class="container">
        <div class="row row-content">

            <div class="col-xs-12" ng-if="!showStats">
                <h3>{{message}}</h3>
            </div>
            <div class="col-xs-12" ng-controller="StatsController" ng-if="showStats">
                <div class="col-xs-12 col-sm-3">
                    <ul class="nav nav-pills nav-stacked">
                        <li role="presentation" class="active"><a href="#">Propuestas votadas por partido</a></li>
                    </ul>
                </div>
                <div class="col-xs-12 col-sm-9">
                    <nvd3 options="options" data="data"></nvd3>
                </div>
            </div>

        </div>
    </div>
