<div class="container">
  <div class="row row-content">
    <div class="col">
      <br>
      <h3>{{currentUser.username}}</h3>
      <hr>
    </div>
  </div>
  <div class="row row-content">
    <div class="col">
      <p><b>Nombre de usuario: </b>{{currentUser.username}}</p>
      <br>
      <br>
      <button type="button" class="btn btn-primary" routerLink="/profile">Editar mis datos</button>
    </div>
  </div>
  <div class="col-sm-12">
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
  </div>
</div>
