<div class="home">

  <div class="header">
    <h1 *ngIf="!currentUser">¡Hola!</h1>
    <h1 *ngIf="currentUser">¡Hola, {{currentUser.username}}!</h1>
    <h3>Aqu&iacute; puedes gestionar tus preferencias y tu actividad en Referenda</h3>
  </div>

  <div class="delegations" *ngIf="currentUser">
    <h2>Delegaci&oacute;n de voto</h2>
    <div class="delegation-party-user">
      <div class="text" *ngIf="delegation == 'party'"> Has delegado tu voto al partido</div>
      <div *ngIf="delegation == 'party'"><img class="party-logo" src="{{delegatedPartyValue.logo}}"></div>
      <div class="text" *ngIf="delegation == 'user'"> Has delegado tu voto al usuario
        <b class="referenda">{{delegatedUserValue.username}}</b>
      </div>
    </div>
    <div class="delegate" routerLink="/delegar">MODIFICAR DELEGACI&Oacute;N DE VOTO</div>
  </div>

  <div class="preferences" *ngIf="currentUser">
    <h2>Nombre de usuario</h2>
    <div class="text">Aqu&iacute; puedes cambiar tu nombre de usuario</div>
    <form class="homeForm" [formGroup]="profileForm" (ngSubmit)="onChangeUsername()">
      <div class="form">
        <input type="text" formControlName="username" class="username"
               placeholder={{currentUser.username}} value={{currentUser.username}}
               [ngClass]="{ 'is-invalid': submitted && pf.username.errors }"/>
        <div *ngIf="submitted && pf.username.errors" class="invalid-feedback">
          <div *ngIf="pf.username.errors.required">Es necesario el nombre de usuario</div>
          <div *ngIf="pf.username.errors.minlength">El nombre de usuario debe tener al menos 4 caracteres</div>
          <div *ngIf="pf.username.errors.maxlength">El nombre de usuario debe tener como m&aacute;ximo 15 caracteres
          </div>
        </div>
        <button class="save">Guardar cambios</button>
      </div>
    </form>
  </div>

  <div class="preferences" *ngIf="currentUser">
    <h2>Contraseña</h2>
    <div class="text" *ngIf="currentUser.origin === 'referenda'">
      Pincha<a class="remember" routerLink="/password"> aqu&iacute; </a>para cambiar tu contraseña
    </div>
    <div class="text" *ngIf="currentUser.origin === 'google'">
      Estás registrado en Referenda con tu cuenta de Google. No tienes por tanto contraseña definida.
    </div>
    <div class="text" *ngIf="currentUser.origin === 'facebook'">
      Estás registrado en Referenda con tu cuenta de Facebook. No tienes por tanto contraseña definida.
    </div>
  </div>

  <button type="button" class="logout" (click)="logout()" *ngIf="currentUser">Finalizar sesi&oacute;n</button>
  <button type="button" class="logout login" routerLink="/login" *ngIf="!currentUser">Iniciar sesi&oacute;n</button>

</div>
