@media only screen and (min-width : 480px) {
  .vertical-line {
    border-left: thick solid #7BA3A0;
    padding-top: 7px;
  }
  .hr-visible {
    border: 0px;
  }
}
@media only screen and (max-width : 480px) {
  .hr-visible {
    border: 1px solid;
  }
}
.register {
  color: #000;
}
.remember {
  color: #888;
  font-size: 12px;
}
.facebook {
  background-color: #4267B2;
}
.facebook-img {
  max-width: 45px;
}
