<div class="container">
  <div class="row row-content">
    <div class="col">
      <br>
      <h1>Referenda</h1>
      <hr>
    </div>
  </div>

  <div class="row row-content">
    <div class="col-sm-8 justify">
      <h3> Referenda es una plataforma online de Democracia Directa </h3>
      <br>
      <h2> Objetivo: </h2>
      <p> Nuestro objetivo es acercar la pol&iacute;tica a la ciudadan&iacute;a.
        Queremos formar una opinión pública responsable fomentando el conocimiento
        sobre nuestras leyes, su proceso de creación y sus legisladores. </p>
      <h2> Democracia Directa: </h2>
      <p> Para conseguir estos objetivos utilizamos la Democracia Directa,
        que permite a cualquier ciudadano indicar si está o no de acuerdo con una determinada ley.
        Y lo hacemos ofreciendo la posibilidad de votar las mismas leyes y propuestas que se debaten
        a la vez en el Congreso de los Diputados. </p>
      <h2> Delegación de voto: </h2>
      <p> Apostamos por la delegación de voto en una organización o en un individuo permitiendo a
        nuestros usuarios delegar sus votos en expertos y personas influyentes cuando se discuta sobre
        ciertos temas. Esta delegación es transitiva, pudiéndose formar grandes cadenas que
        canalizan los votos. </p>
      <br>
    </div>
    <div class="col-sm-4">
    </div>
    <div class="col-sm-1 col-sm-offset-6">
      <div class="fb-share-button" data-href="https://referenda.es" data-layout="button" data-size="small"
           data-mobile-iframe="true">
        <a class="fb-xfbml-parse-ignore" target="_blank"
           href="https://www.facebook.com/sharer/sharer.php?u=https%3A%2F%2Freferenda.es%2F&amp;src=sdkpreparse">Share
        </a>
      </div>
    </div>
    <div class="col-sm-1">
      <div class="fb-share-button" data-layout="button" data-size="small">
        <a class="twitter-share-button"
           href="https://twitter.com/intent/tweet?text=Referenda.es:%20Democracia%20Directa">Tweet</a>
      </div>
      <br>
      <br>
    </div>
  </div>


</div>
