<div class="aboutus">
  <div class="searcher">
    <div class="searcher-content">
      <h1>Democracia directa <br>y delegaci&oacute;n de voto.</h1>
      <h2>Nuestro objetivo es acercar la pol&iacute;tica a la ciudadan&iacute;a</h2>
    </div>
  </div>
  <div class="explanation">
    <h3>¿Qu&eacute; hacemos?</h3>
    <p class="text"> Nuestro objetivo es acercar la pol&iacute;tica a la ciudadan&iacute;a.
      Queremos formar una opinión pública responsable fomentando el conocimiento
      sobre nuestras leyes, su proceso de creación y sus legisladores.</p>
    <div class="explanation-columns">
      <div class="explanation-column">
        <img alt="Democracia directa" src="../../assets/img/directdemocracy.svg">
        <div class="text"> Para conseguirlo, utilizamos la <b class="referenda">Democracia Directa</b>, que
          <b class="referenda">permite a cualquier ciudadano indicar si está o no de acuerdo con una determinada ley.
          </b>
          Lo hacemos ofreciendo la posibilidad de votar las <b class="referenda">mismas leyes</b>
          y propuestas que se debaten a la vez en el <b class="referenda">Congreso de los Diputados.</b></div>
      </div>
      <div class="explanation-column">
        <img alt="Democracia directa" src="../../assets/img/delegatevote.svg">
        <div class="text"><b class="referenda">Apostamos por la delegación de voto</b>
          en una organización o en un individuo permitiendo a
          nuestros usuarios delegar sus votos en expertos y personas influyentes cuando se discuta sobre
          ciertos temas. Esta delegación es transitiva, pudiéndose formar grandes cadenas que
          canalizan los votos.
        </div>
        <div class="button" routerLink="/delegar">Delegar voto</div>
      </div>
    </div>
    <!--<p class="text"> A continuaci&oacute;n mostramos las leyes
      <b class="referenda">que se est&aacute;n debatiendo ahora</b> en el Congreso de los Diputados
      para que puedas indicar tu voto. A favor, en contra o abstenci&oacute;n</p>-->
  </div>

  <!--<div class="social">
    <div class="fb-share-button" data-href="https://referenda.es" data-layout="button" data-size="small"
         data-mobile-iframe="true">
      <a class="fb-xfbml-parse-ignore" target="_blank"
         href="https://www.facebook.com/sharer/sharer.php?u=https%3A%2F%2Freferenda.es%2F&amp;src=sdkpreparse">Share
      </a>
    </div>
  </div>
  <div class="social">
    <div class="fb-share-button" data-layout="button" data-size="small">
      <a class="twitter-share-button"
         href="https://twitter.com/intent/tweet?text=Referenda.es:%20Democracia%20Directa">Tweet</a>
    </div>
  </div>-->
</div>
