<div class="container">
  <br>
  <div *ngIf="!currentUser" class="col-xs-12 col-sm-9">
    <h2>Inicia sesi&oacute;n para administrar Referenda</h2>
    <br>
  </div>

  <div *ngIf="currentUser" class="row align-items-start">
    <h2>Administraci&oacute;n de Referenda</h2>
    <div class="col-12">
      <form class="lawForm" [formGroup]="lawForm" (ngSubmit)="onSubmit()">
        <div class="form-group">
          <label for="law_type">Law type</label>
          <select class="form-control" id="law_type" formControlName="law_type"
                  [ngClass]="{ 'is-invalid': submitted && lf.law_type.errors }">
            <option>Proposición de Ley</option>
            <option>Proposición de Ley Orgánica</option>
            <option>Proposición no de Ley</option>
            <option>Proyecto de Ley</option>
            <option>Real Decreto-Ley</option>
          </select>
          <div *ngIf="submitted && lf.law_type.errors" class="invalid-feedback">
            <div *ngIf="lf.law_type.errors.required">Es necesario un tipo de ley</div>
          </div>
        </div>
        <div class="form-group">
          <label for="institution">Institution</label>
          <select class="form-control" id="institution" formControlName="institution"
                  [ngClass]="{ 'is-invalid': submitted && lf.institution.errors }">
            <option>gobierno</option>
            <option>psoe</option>
            <option>pp</option>
            <option>vox</option>
            <option>podemos</option>
            <option>ciudadanos</option>
            <option>erc</option>
            <option>jpc</option>
            <option>pnv</option>
            <option>bildu</option>
            <option>mp</option>
            <option>cup</option>
            <option>cc</option>
            <option>upn</option>
            <option>bng</option>
            <option>prc</option>
            <option>te</option>
            <option>Comunidad Autónoma de Andalucía</option>
            <option>Comunidad Autónoma de Aragón</option>
            <option>Comunidad Autónoma del Principado de Asturias</option>
            <option>Comunidad Autónoma de las Illes Balears</option>
            <option>Comunidad Autónoma de Canarias</option>
            <option>Comunidad Autónoma de Cantabria</option>
            <option>Comunidad Autónoma de Castilla-La Mancha</option>
            <option>Comunidad Autónoma de Castilla y León</option>
            <option>Comunidad Autónoma de Cataluña</option>
            <option>Comunidad Autónoma de Extremadura</option>
            <option>Comunidad Autónoma de Galicia</option>
            <option>Comunidad Autónoma de La Rioja</option>
            <option>Comunidad Autónoma de Madrid</option>
            <option>Comunidad Autónoma de la Región de Murcia</option>
            <option>Comunidad Autónoma de Navarra</option>
            <option>Comunidad Autónoma del País Vasco</option>
            <option>Comunidad Autónoma de Valencia</option>
            <option>Ciudad Autónoma de Ceuta</option>
            <option>Ciudad Autónoma de Melilla</option>
          </select>
          <div *ngIf="submitted && lf.institution.errors" class="invalid-feedback">
            <div *ngIf="lf.institution.errors.required">Es necesaria una institución</div>
          </div>
        </div>
        <div class="form-group">
          <label for="tier">Tier</label>
          <select class="form-control" id="tier" formControlName="tier"
                  [ngClass]="{ 'is-invalid': submitted && lf.tier.errors }">
            <option>1</option>
            <option>2</option>
            <option>3</option>
          </select>
          <div *ngIf="submitted && lf.tier.errors" class="invalid-feedback">
            <div *ngIf="lf.tier.errors.required">Es necesaria una categoría</div>
          </div>
        </div>
        <div class="form-group">
          <label for="educacion">Educacion</label>
          <select class="form-control" id="educacion" formControlName="educacion"
                  [ngClass]="{ 'is-invalid': submitted && lf.educacion.errors }">
            <option>Yes</option>
            <option>No</option>
          </select>
          <div *ngIf="submitted && lf.educacion.errors" class="invalid-feedback">
            <div *ngIf="lf.educacion.errors.required">Es necesaria una area</div>
          </div>
        </div>
        <div class="form-group">
          <label for="sanidad">Sanidad</label>
          <select class="form-control" id="sanidad" formControlName="sanidad"
                  [ngClass]="{ 'is-invalid': submitted && lf.sanidad.errors }">
            <option>Yes</option>
            <option>No</option>
          </select>
          <div *ngIf="submitted && lf.sanidad.errors" class="invalid-feedback">
            <div *ngIf="lf.sanidad.errors.required">Es necesaria una area</div>
          </div>
        </div>
        <div class="form-group">
          <label for="economia">Economia</label>
          <select class="form-control" id="economia" formControlName="economia"
                  [ngClass]="{ 'is-invalid': submitted && lf.economia.errors }">
            <option>Yes</option>
            <option>No</option>
          </select>
          <div *ngIf="submitted && lf.economia.errors" class="invalid-feedback">
            <div *ngIf="lf.economia.errors.required">Es necesaria una area</div>
          </div>
        </div>
        <div class="form-group">
          <label for="justicia">Justicia</label>
          <select class="form-control" id="justicia" formControlName="justicia"
                  [ngClass]="{ 'is-invalid': submitted && lf.justicia.errors }">
            <option>Yes</option>
            <option>No</option>
          </select>
          <div *ngIf="submitted && lf.justicia.errors" class="invalid-feedback">
            <div *ngIf="lf.justicia.errors.required">Es necesaria una area</div>
          </div>
        </div>
        <div class="form-group">
          <label for="exteriores">Exteriores</label>
          <select class="form-control" id="exteriores" formControlName="exteriores"
                  [ngClass]="{ 'is-invalid': submitted && lf.exteriores.errors }">
            <option>Yes</option>
            <option>No</option>
          </select>
          <div *ngIf="submitted && lf.exteriores.errors" class="invalid-feedback">
            <div *ngIf="lf.exteriores.errors.required">Es necesaria una area</div>
          </div>
        </div>
        <div class="form-group">
          <label for="defensa">Defensa</label>
          <select class="form-control" id="defensa" formControlName="defensa"
                  [ngClass]="{ 'is-invalid': submitted && lf.defensa.errors }">
            <option>Yes</option>
            <option>No</option>
          </select>
          <div *ngIf="submitted && lf.defensa.errors" class="invalid-feedback">
            <div *ngIf="lf.defensa.errors.required">Es necesaria una area</div>
          </div>
        </div>
        <div class="form-group">
          <label for="interior">Interior</label>
          <select class="form-control" id="interior" formControlName="interior"
                  [ngClass]="{ 'is-invalid': submitted && lf.interior.errors }">
            <option>Yes</option>
            <option>No</option>
          </select>
          <div *ngIf="submitted && lf.interior.errors" class="invalid-feedback">
            <div *ngIf="lf.interior.errors.required">Es necesaria una area</div>
          </div>
        </div>
        <div class="form-group">
          <label for="agricultura">Agricultura</label>
          <select class="form-control" id="agricultura" formControlName="agricultura"
                  [ngClass]="{ 'is-invalid': submitted && lf.agricultura.errors }">
            <option>Yes</option>
            <option>No</option>
          </select>
          <div *ngIf="submitted && lf.agricultura.errors" class="invalid-feedback">
            <div *ngIf="lf.agricultura.errors.required">Es necesaria una area</div>
          </div>
        </div>
        <div class="form-group">
          <label for="infraestructura">Infraestructura</label>
          <select class="form-control" id="infraestructura" formControlName="infraestructura"
                  [ngClass]="{ 'is-invalid': submitted && lf.infraestructura.errors }">
            <option>Yes</option>
            <option>No</option>
          </select>
          <div *ngIf="submitted && lf.infraestructura.errors" class="invalid-feedback">
            <div *ngIf="lf.infraestructura.errors.required">Es necesaria una area</div>
          </div>
        </div>
        <div class="form-group">
          <label for="cultura">Cultura</label>
          <select class="form-control" id="cultura" formControlName="cultura"
                  [ngClass]="{ 'is-invalid': submitted && lf.cultura.errors }">
            <option>Yes</option>
            <option>No</option>
          </select>
          <div *ngIf="submitted && lf.cultura.errors" class="invalid-feedback">
            <div *ngIf="lf.cultura.errors.required">Es necesaria una area</div>
          </div>
        </div>
        <div class="form-group">
          <label for="featured">Featured</label>
          <select class="form-control" id="featured" formControlName="featured"
                  [ngClass]="{ 'is-invalid': submitted && lf.featured.errors }">
            <option>True</option>
            <option>False</option>
          </select>
          <div *ngIf="submitted && lf.featured.errors" class="invalid-feedback">
            <div *ngIf="lf.featured.errors.required">Es necesaria una prioridad</div>
          </div>
        </div>
        <div class="form-group">
          <label for="headline">Headline</label>
          <input type="text" class="form-control" id="headline" formControlName="headline"
                 [ngClass]="{ 'is-invalid': submitted && lf.headline.errors }">
          <div *ngIf="submitted && lf.headline.errors" class="invalid-feedback">
            <div *ngIf="lf.headline.errors.required">Es necesario un titular</div>
          </div>
        </div>
        <div class="form-group">
          <label for="short_description">Short Description</label>
          <textarea class="form-control" id="short_description" rows="3" formControlName="short_description"
                    [ngClass]="{ 'is-invalid': submitted && lf.short_description.errors }"></textarea>
          <div *ngIf="submitted && lf.short_description.errors" class="invalid-feedback">
            <div *ngIf="lf.short_description.errors.required">Es necesaria una descripción corta</div>
          </div>
        </div>
        <div class="form-group">
          <angular-editor [config]="editorConfig" id="long_description" formControlName="long_description"
                    [ngClass]="{ 'is-invalid': submitted && lf.long_description.errors }"></angular-editor>
          <div *ngIf="submitted && lf.long_description.errors" class="invalid-feedback">
            <div *ngIf="lf.long_description.errors.required">Es necesaria una descripción larga</div>
          </div>
        </div>
        <br>
        <br>
        <br>
        <br>
        <div class="form-group">
          <label for="link">Link</label>
          <input type="text" class="form-control" id="link" formControlName="link"
                 [ngClass]="{ 'is-invalid': submitted && lf.link.errors }">
          <div *ngIf="submitted && lf.link.errors" class="invalid-feedback">
            <div *ngIf="lf.link.errors.required">Es necesario un enlace oficial</div>
          </div>
        </div>
        <div class="form-group">
          <label for="pub_date">Publication date</label>
          <input type="text" class="form-control" id="pub_date" placeholder="2020-01-15T00:00:00Z"
                 formControlName="pub_date" [ngClass]="{ 'is-invalid': submitted && lf.pub_date.errors }">
          <div *ngIf="submitted && lf.pub_date.errors" class="invalid-feedback">
            <div *ngIf="lf.pub_date.errors.required">Es necesaria una fecha de publicación</div>
          </div>
        </div>
        <div class="form-group">
          <label for="vote_start">Vote start date</label>
          <input type="text" class="form-control" id="vote_start" value="2020-01-15T00:00:00Z"
                 formControlName="vote_start" [ngClass]="{ 'is-invalid': submitted && lf.vote_start.errors }">
          <div *ngIf="submitted && lf.vote_start.errors" class="invalid-feedback">
            <div *ngIf="lf.vote_start.errors.required">Es necesaria una fecha de inicio del voto</div>
          </div>
        </div>
        <div class="form-group">
          <label for="vote_end">Vote end date</label>
          <input type="text" class="form-control" id="vote_end" value="2020-01-15T00:00:00Z"
                 formControlName="vote_end" [ngClass]="{ 'is-invalid': submitted && lf.vote_end.errors }">
          <div *ngIf="submitted && lf.vote_end.errors" class="invalid-feedback">
            <div *ngIf="lf.vote_end.errors.required">Es necesaria una fecha de final del voto</div>
          </div>
        </div>
        <div class="form-group">
          <label for="psoe">Psoe</label>
          <select class="form-control" id="psoe" formControlName="psoe"
                  [ngClass]="{ 'is-invalid': submitted && lf.psoe.errors }">
            <option>Yes</option>
            <option>No</option>
            <option>Abstention</option>
          </select>
          <div *ngIf="submitted && lf.psoe.errors" class="invalid-feedback">
            <div *ngIf="lf.psoe.errors.required">Es necesario un voto</div>
          </div>
        </div>
        <div class="form-group">
          <label for="pp">PP</label>
          <select class="form-control" id="pp" formControlName="pp"
                  [ngClass]="{ 'is-invalid': submitted && lf.pp.errors }">
            <option>Yes</option>
            <option>No</option>
            <option>Abstention</option>
          </select>
          <div *ngIf="submitted && lf.pp.errors" class="invalid-feedback">
            <div *ngIf="lf.pp.errors.required">Es necesario un voto</div>
          </div>
        </div>
        <div class="form-group">
          <label for="vox">Vox</label>
          <select class="form-control" id="vox" formControlName="vox"
                  [ngClass]="{ 'is-invalid': submitted && lf.vox.errors }">
            <option>Yes</option>
            <option>No</option>
            <option>Abstention</option>
          </select>
          <div *ngIf="submitted && lf.vox.errors" class="invalid-feedback">
            <div *ngIf="lf.vox.errors.required">Es necesario un voto</div>
          </div>
        </div>
        <div class="form-group">
          <label for="podemos">Podemos</label>
          <select class="form-control" id="podemos" formControlName="podemos"
                  [ngClass]="{ 'is-invalid': submitted && lf.podemos.errors }">
            <option>Yes</option>
            <option>No</option>
            <option>Abstention</option>
          </select>
          <div *ngIf="submitted && lf.podemos.errors" class="invalid-feedback">
            <div *ngIf="lf.podemos.errors.required">Es necesario un voto</div>
          </div>
        </div>
        <div class="form-group">
          <label for="ciudadanos">Ciudadanos</label>
          <select class="form-control" id="ciudadanos" formControlName="ciudadanos"
                  [ngClass]="{ 'is-invalid': submitted && lf.ciudadanos.errors }">
            <option>Yes</option>
            <option>No</option>
            <option>Abstention</option>
          </select>
          <div *ngIf="submitted && lf.ciudadanos.errors" class="invalid-feedback">
            <div *ngIf="lf.ciudadanos.errors.required">Es necesario un voto</div>
          </div>
        </div>
        <div class="form-group">
          <label for="erc">Erc</label>
          <select class="form-control" id="erc" formControlName="erc"
                  [ngClass]="{ 'is-invalid': submitted && lf.erc.errors }">
            <option>Yes</option>
            <option>No</option>
            <option>Abstention</option>
          </select>
          <div *ngIf="submitted && lf.erc.errors" class="invalid-feedback">
            <div *ngIf="lf.erc.errors.required">Es necesario un voto</div>
          </div>
        </div>
        <div class="form-group">
          <label for="jpc">Jpc</label>
          <select class="form-control" id="jpc" formControlName="jpc"
                  [ngClass]="{ 'is-invalid': submitted && lf.jpc.errors }">
            <option>Yes</option>
            <option>No</option>
            <option>Abstention</option>
          </select>
          <div *ngIf="submitted && lf.jpc.errors" class="invalid-feedback">
            <div *ngIf="lf.jpc.errors.required">Es necesario un voto</div>
          </div>
        </div>
        <div class="form-group">
          <label for="pnv">Pnv</label>
          <select class="form-control" id="pnv" formControlName="pnv"
                  [ngClass]="{ 'is-invalid': submitted && lf.pnv.errors }">
            <option>Yes</option>
            <option>No</option>
            <option>Abstention</option>
          </select>
          <div *ngIf="submitted && lf.pnv.errors" class="invalid-feedback">
            <div *ngIf="lf.pnv.errors.required">Es necesario un voto</div>
          </div>
        </div>
        <div class="form-group">
          <label for="bildu">Bildu</label>
          <select class="form-control" id="bildu" formControlName="bildu"
                  [ngClass]="{ 'is-invalid': submitted && lf.bildu.errors }">
            <option>Yes</option>
            <option>No</option>
            <option>Abstention</option>
          </select>
          <div *ngIf="submitted && lf.bildu.errors" class="invalid-feedback">
            <div *ngIf="lf.bildu.errors.required">Es necesario un voto</div>
          </div>
        </div>
        <div class="form-group">
          <label for="mp">Mp</label>
          <select class="form-control" id="mp" formControlName="mp"
                  [ngClass]="{ 'is-invalid': submitted && lf.mp.errors }">
            <option>Yes</option>
            <option>No</option>
            <option>Abstention</option>
          </select>
          <div *ngIf="submitted && lf.mp.errors" class="invalid-feedback">
            <div *ngIf="lf.mp.errors.required">Es necesario un voto</div>
          </div>
        </div>
        <div class="form-group">
          <label for="cup">Cup</label>
          <select class="form-control" id="cup" formControlName="cup"
                  [ngClass]="{ 'is-invalid': submitted && lf.cup.errors }">
            <option>Yes</option>
            <option>No</option>
            <option>Abstention</option>
          </select>
          <div *ngIf="submitted && lf.cup.errors" class="invalid-feedback">
            <div *ngIf="lf.cup.errors.required">Es necesario un voto</div>
          </div>
        </div>
        <div class="form-group">
          <label for="cc">CC</label>
          <select class="form-control" id="cc" formControlName="cc"
                  [ngClass]="{ 'is-invalid': submitted && lf.cc.errors }">
            <option>Yes</option>
            <option>No</option>
            <option>Abstention</option>
          </select>
          <div *ngIf="submitted && lf.cc.errors" class="invalid-feedback">
            <div *ngIf="lf.cc.errors.required">Es necesario un voto</div>
          </div>
        </div>
        <div class="form-group">
          <label for="upn">Upn</label>
          <select class="form-control" id="upn" formControlName="upn"
                  [ngClass]="{ 'is-invalid': submitted && lf.upn.errors }">
            <option>Yes</option>
            <option>No</option>
            <option>Abstention</option>
          </select>
          <div *ngIf="submitted && lf.upn.errors" class="invalid-feedback">
            <div *ngIf="lf.upn.errors.required">Es necesario un voto</div>
          </div>
        </div>
        <div class="form-group">
          <label for="bng">Bng</label>
          <select class="form-control" id="bng" formControlName="bng"
                  [ngClass]="{ 'is-invalid': submitted && lf.bng.errors }">
            <option>Yes</option>
            <option>No</option>
            <option>Abstention</option>
          </select>
          <div *ngIf="submitted && lf.bng.errors" class="invalid-feedback">
            <div *ngIf="lf.bng.errors.required">Es necesario un voto</div>
          </div>
        </div>
        <div class="form-group">
          <label for="prc">Prc</label>
          <select class="form-control" id="prc" formControlName="prc"
                  [ngClass]="{ 'is-invalid': submitted && lf.prc.errors }">
            <option>Yes</option>
            <option>No</option>
            <option>Abstention</option>
          </select>
          <div *ngIf="submitted && lf.prc.errors" class="invalid-feedback">
            <div *ngIf="lf.prc.errors.required">Es necesario un voto</div>
          </div>
        </div>
        <div class="form-group">
          <label for="te">Te</label>
          <select class="form-control" id="te" formControlName="te"
                  [ngClass]="{ 'is-invalid': submitted && lf.te.errors }">
            <option>Yes</option>
            <option>No</option>
            <option>Abstention</option>
          </select>
          <div *ngIf="submitted && lf.te.errors" class="invalid-feedback">
            <div *ngIf="lf.te.errors.required">Es necesario un voto</div>
          </div>
        </div>
        <br>
        <button type="submit" class="btn btn-primary">Submit</button>
        <br>
      </form>
    </div>
  </div>
</div>
