.navbar {
  border-bottom-width: 0;
  min-height: 75px;
}
.navbar-brand {
  margin: 0 auto;
  padding: 5px 0 0 20px;
}
@font-face {
    font-family: "Montserrat-Bold";
    src: url("/assets/fonts/Montserrat-Regular.ttf") format("truetype");
}
.montserrat {
  font-family: "Montserrat-Bold";
  font-size: 1.7em;
  text-align: center;
}

/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px) {
  .montserrat {
    border: 1px;
    font-family: "Montserrat-Bold";
    font-size: 0.9em;
    text-align: left;
  }
}
.montserrat .small { font-size:14px;}
.montserrat .normal { font-size:16px;}
.montserrat .large { font-size:20px;}
.sections .navbar-nav > li > a {
  font-family: "Montserrat-Bold";
  color: #666;
  background-color: #fff;
}
.sections .navbar-nav > .active > a {
  border-bottom: thick solid #3D989D;
  color: #000;
}
.navbar-inverse {
  background: #3D989D;
  color: #ffffff;
}
.navbar-inverse .navbar-nav > li > a {
  color: #ddd;
}
.navbar-inverse .navbar-nav > .active > a {
  background: #1a237e;
  color: #ffffff;
}
.navbar-inverse .navbar-nav > .active > a:hover {
  background: #1a237e;
  color: #ffffff;
}
.navbar-inverse .navbar-nav > .active > a:focus {
  background: #1a237e;
  color: #ffffff;
}
.navbar-inverse .navbar-nav > .open > a {
  background: #1a237e;
  color: #ffffff;
}
.navbar-inverse .navbar-nav > .open > a:hover {
  background: #1a237e;
  color: #ffffff;
}
.navbar-inverse .navbar-nav > .open > a:focus {
  background: #1a237e;
  color: #ffffff;
}
.navbar-inverse .navbar-nav .open .dropdown-menu > li > a {
  background-color: #303f9f;
  color: #eeeeee;
}
.navbar-inverse .navbar-nav .open .dropdown-menu > li > a:hover {
  color: #000000;
}
.navbar-inverse .navbar-nav .open .dropdown-menu {
  background-color: #303f9f;
  color: #eeeeee;
}
.sections .navbar-nav > li > a {
  font-family: "Montserrat-Bold";
  color: #666;
  background-color: #fff;
}
.sections .navbar-nav > .active > a {
  border-bottom: thick solid #3D989D;
  color: #000;
}
a.login-link:hover {
  text-decoration: none;
}
.login-link {
  padding: 0 5px 0 0;
  color: #fff;
}
.material-icons {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  vertical-align: middle;
}
.home {
  vertical-align: top;
  padding-right: 5px;
}
a.home {
  color: #fff;
}
a.home:hover {
  color: #f1d600;
  text-decoration: none;
}
