.menu {
  position: relative;
  height: 45px;
  background: #3E979E;
}

.fondo {
  left: 0;
  right: 0;
  top: 0;
  bottom: -0.28%;
  background: #3E979E;
}

.logotipo img {
  position: absolute;
  width: 178px;
  height: 37px;
  left: calc(50% - 178px/2 - 449px);
  top: 6px;
}

.secciones {
  position: absolute;
  display: flex;
  width: 760px;
  left: calc(60% - 350px);
  top: 0;
  bottom: 0;
}

.seccion {
  padding: 10px 15px;
  height: 25px;
  top: 0;
}

.seccion:hover {
  color: #66ADB3;
  background-color: #FFF;
}

.seccion:hover a {
  color: #66ADB3;
  background-color: #FFF;
}

.active {
  color: #66ADB2;
}

.votaciones {
  width: 111px;
}

.resultados {
  width: 111px;
}

.delegar {
  width: 140px;
}

.partidos {
  width: 93px;
}

.estadisticas {
  width: 121px;
}

.sesion {
  position: relative;
  width: 184px;
  left: -2px;
}

.vertical-line {
  position: relative;
  border-left: thick solid #FFF;
  border-left-width: 1px;
  padding: 10px 0 10px 0;
  margin: 10px 0 10px 0;
  left: -1px;
}

a {
  color: #FFFFFF;
  font-family: Roboto, sans-serif;
  font-size: 13px;
  font-style: normal;
  font-weight: 500;
  letter-spacing: 0.02em;
  line-height: 25px;
}

a:hover {
  color: #66ADB3;
  text-decoration: none;
}

.sesion:hover .dropdown-sesion {
  display: block;
}

.dropdown-sesion {
  display: none;
  position: relative;
  top: 10px;
}

.dropdown-sesion-content {
  position: relative;
  width: 140px;
  left: 1px;
  filter: drop-shadow(0px 0px 10px rgba(0, 0, 0, 0.15));
  z-index: 1;
}

.dropdown-sesion-content a {
  display: flex;
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 13px;
  line-height: 15px;
  align-items: center;
  letter-spacing: 0.02em;
  width: 140px;
  margin-right: -13px;
  height: 25px;
  padding: 10px 15px 10px 14px;
  color: #3E979E;
  background: #FFFFFF;
}

.dropdown-sesion:hover .dropdown-sesion-content {
  width: 140px;
  background: #fff;
  left: 1px;
}

.dropdown-iniciar {
  position: absolute;
  right: 0;
  top: 1px;
  height: 25px;
  bottom: 50%;
}

.dropdown-registrarse {
  position: absolute;
  right: 0;
  top: 47px;
  bottom: 0;
  height: 25px;
}

.rectangle {
  display: flex;
  height: 1px;
  background: #E8E8E8;
}

.smartphone-menu {
  display: none;
  position: absolute;
  width: 25px;
  height: 14px;
  top: 26px;
  right: 37px;
  cursor: pointer;
}

.smartphone-menu-show {
  background: url(../../assets/img/downarrowbig.svg);
}

.smartphone-menu-hide {
  background: url(../../assets/img/uparrowbig.svg);
}

.smartphone-menu-items {
  display: flex;
  flex-direction: column;
  background-color: #FFF;
}

.menu-item {
  height: 53px;
  padding-top: 15px;
  text-align: center;
  z-index: 2;
}

.dropdown-text a {
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 23px;
  letter-spacing: 0.02em;
  color: #3E979E;
}

.dropdown-text a {
  width: 100%;
  color: #3E979E;
}

.dropdown-text a:hover {
  color: #FFF;
  background-color: #3E979E;
}

@media(max-width: 1100px) {
  .logotipo img {
    left: 10px;
  }
}

@media(max-width: 950px) {
  .menu {
    height: 72px;
    top: 0;
  }

  .logotipo img {
    width: 202px;
    height: 43px;
    top: 16px;
    left: 26px;
    background-size: 202px;
  }

  .secciones {
    display: none;
  }

  .smartphone-menu {
    display: flex;
  }
}

