<!--suppress BuyFluidPluginNoteInspection -->
<div class="row navbar navbar-inverse">
  <div class="container">
    <div class="col">
      <a routerLink="/leyes"><img height=65 src="assets/img/logo.png"></a>
    </div>
    <div class="flex-row ml-md-auto">
      <div class="col">
        <span *ngIf="currentUser"><i class="material-icons">account_circle</i>{{currentUser.username}}</span>
        <span *ngIf="!currentUser"><a class="login-link" routerLink="/login">Iniciar Sesi&oacute;n</a></span>
        <i class="material-icons">more_vert</i>
        <span *ngIf="currentUser" (click)="logout()">Salir</span>
        <span *ngIf="!currentUser"><a class="login-link" routerLink="/register">Registrarse</a></span>
      </div>
    </div>
  </div>
</div>

<nav class="undertop"></nav>

<nav class="navbar navbar-expand-lg navbar-light">
  <div class="container sections">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse montserrat" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li data-toggle="collapse" data-target=".navbar-collapse.show" [ngClass]="{active: section==='votaciones'}"
            (click)="section='votaciones';">
          <a class="nav-link" routerLink="/leyes"> &nbsp;VOTACIONES&nbsp; </a>
        </li>
        <li data-toggle="collapse" data-target=".navbar-collapse.show" [ngClass]="{active: section==='resultados'}"
            (click)="section='resultados';">
          <a class="nav-link" routerLink="/resultados"> &nbsp;RESULTADOS&nbsp; </a>
        </li>
        <li data-toggle="collapse" data-target=".navbar-collapse.show" [ngClass]="{active: section==='delegar'}"
            (click)="section='delegar';">
          <a class="nav-link" routerLink="/delegar"> &nbsp;DELEGAR VOTOS&nbsp; </a>
        </li>
        <li data-toggle="collapse" data-target=".navbar-collapse.show" [ngClass]="{active: section==='estadisticas'}"
            (click)="section='estadisticas';">
          <a class="nav-link" routerLink="/estadisticas"> &nbsp;ESTAD&Iacute;STICAS </a>
        </li>
      </ul>
    </div>
  </div>
</nav>
