<div class="menu" id="menu">
  <div class="fondo">
  </div>
  <div class="logotipo" routerLink="/leyes" (click)="section='votaciones';">
    <img src="assets/img/logo.png" alt="Logitpo de la marca Referenda">
  </div>
  <div class="secciones">
    <a class="seccion votaciones" routerLink="/leyes"
       [ngClass]="{active: section==='votaciones'}" (click)="section='votaciones';">VOTACIONES</a>
    <a class="seccion resultados" routerLink="/resultados"
       [ngClass]="{active: section==='resultados'}" (click)="section='resultados';">RESULTADOS</a>
    <a class="seccion delegar" routerLink="/delegar"
       [ngClass]="{active: section==='delegar'}" (click)="section='delegar';">DELEGAR VOTOS</a>
    <a class="seccion partidos" routerLink="/partidos"
       [ngClass]="{active: section==='parties'}" (click)="section='parties';">PARTIDOS</a>
    <a class="seccion estadisticas" routerLink="/estadisticas"
       [ngClass]="{active: section==='estadisticas'}" (click)="section='estadisticas';">ESTAD&Iacute;STICAS</a>
    <div class="vertical-line">
    </div>
    <div class="seccion sesion" *ngIf="currentUser">
      <a id="username" routerLink="/home" (click)="section='';">{{currentUser.username}}</a>
    </div>
    <div class="seccion sesion" *ngIf="!currentUser" (click)="section='';">
      <a id="session" routerLink="/login">MI SESI&Oacute;N</a>
      <div class="dropdown-sesion">
        <div class="dropdown-sesion-content">
          <div class="dropdown-iniciar">
            <a id="login" routerLink="/login">INICIAR SESI&Oacute;N</a>
          </div>
          <div class="dropdown-registrarse">
            <a id="register" routerLink="/register">REGISTRARSE</a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="smartphone-clicker" (click)="toggleSmartphoneMenu()"></div>
  <div class="smartphone-menu smartphone-menu-show" *ngIf="!smartphoneMenu" (click)="showSmartphoneMenu(true)">
  </div>
  <div class="smartphone-menu smartphone-menu-hide" *ngIf="smartphoneMenu" (click)="showSmartphoneMenu(false)">
  </div>
</div>
<div class="smartphone-menu-items dropdown-text" *ngIf="smartphoneMenu">
  <a class="menu-item" routerLink="/leyes" (click)="showSmartphoneMenu(false); section='votaciones';">
    VOTACIONES
  </a>
  <a class="menu-item" routerLink="/resultados" (click)="showSmartphoneMenu(false); section='resultados';">
    RESULTADOS
  </a>
  <a class="menu-item" routerLink="/delegar" (click)="showSmartphoneMenu(false); section='delegar';">
    DELEGAR VOTOS
  </a>
  <a class="menu-item" routerLink="/partidos" (click)="showSmartphoneMenu(false); section='parties';">
    PARTIDOS
  </a>
  <a class="menu-item" routerLink="/estadisticas" (click)="showSmartphoneMenu(false); section='estadisticas';">
    ESTAD&Iacute;STICAS
  </a>
  <a class="menu-item" routerLink="/home" *ngIf="currentUser" (click)="showSmartphoneMenu(false); section='';">
    {{currentUser.username}}</a>
  <a class="menu-item" *ngIf="!currentUser" (click)="showSmartphoneSession()">MI SESI&Oacute;N</a>
  <a class="menu-item" routerLink="/login" (click)="showSmartphoneMenu(false); section='';"
     *ngIf="smartphoneSession">
    INICIAR SESI&Oacute;N
  </a>
  <a class="menu-item" routerLink="/register" (click)="showSmartphoneMenu(false); section='';"
     *ngIf="smartphoneSession">
    REGISTRARSE
  </a>
</div>
