<div class="footer">

  <div class="section">
    <div class="title">REFERENDA</div>
    <div class="content" routerLink="/aboutus">
      Nuestro objetivo es acercar la política a la ciudadanía.
      Queremos formar una opinión pública responsable
      fomentando el conocimiento sobre nuestras leyes,
      su proceso de creación y sus legisladores.
    </div>
  </div>

  <div class="section">
    <div class="title">LEGAL</div>
    <div class="content" routerLink="/cookies">Pol&iacute;tica de cookies</div>
    <div class="content" routerLink="/legal">Proteci&oacute;n de datos</div>
    <div class="title second-title">DEVELOPERS</div>
    <div class="content" routerLink="/developers">Referenda API</div>
  </div>

  <div class="section">
    <div class="title">CONTACTO</div>
    <a class="content" href="mailto:info@referenda.es">info@referenda.es</a>
    <a class="content" href="https://twitter.com/Referenda_es">Twitter</a>
  </div>
</div>
