.footer {
  padding-top: 7px;
  padding-bottom: 3px;
  background-color: #3D989D;
}
.footer > ul > p > a {
  color: #333;
  text-decoration: none;
}
.footer > ul > p > a:hover {
  color: #fff;
  text-decoration: none;
}
