<div class="footer">

  <div class="section">
    <div class="title">REFERENDA</div>
    <div class="content" routerLink="/referenda">
      Nuestro objetivo es acercar la política a la ciudadanía.
      Queremos formar una opinión pública responsable
      fomentando el conocimiento sobre nuestras leyes,
      su proceso de creación y sus legisladores.
      Usamos la Democracia Directa y la Delegación de voto.
    </div>
  </div>

  <div class="section">
    <div class="title">LEGAL</div>
    <div class="content" routerLink="/cookies">Pol&iacute;tica de cookies</div>
    <div class="content" routerLink="/legal">Proteci&oacute;n de datos</div>
    <div class="title second-title">DEVELOPERS</div>
    <div class="content" routerLink="/developers">Referenda API</div>
  </div>

  <div class="section">
    <div class="title">CONTACTO</div>
    <a class="content" href="mailto:info@referenda.es">info@referenda.es</a>
    <div class="content" routerLink="/creditos">Cr&eacute;ditos</div>
    <a class="content" href="https://twitter.com/Referenda_es">
      <img alt="Twitter" src="../../assets/img/twitter.svg">
    </a>
  </div>
</div>

<div class="copyright">&#169; 2022 · REFERENDA</div>
