* {
	margin: 0;
}
html, body {
	height: 100%;
}
.wrapper {
	min-height: 100%;
	height: auto !important;
	height: 100%;
	margin: 0 auto -100px; /* the bottom margin is the negative value of the footer's height */
}
.footer, .push {
	height: 100px; /* .push must be the same height as .footer */
        clear: both;
}

/*

Sticky Footer by Ryan Fait
http://ryanfait.com/

*/

.pricing-table li.description {
    text-align: justify;
    text-justify: initial;
}


.style2 {
    font-size: 50px;
    color: #058CBA;
    text-shadow: 0px 1px 0px #0092b3,0px 2px 0px #0087a6,0px 3px 0px #008099,0px 4px 0px #00758c,0px 5px 0px #555,
        0px 6px 0px #006a80,0px 0px 0px #006073,0px 8px 7px #005566;
}