<div class="home">

  <div class="header">
    <h1>Ind&iacute;canos tu correo para enviarte tu contrase&#241;a</h1>
  </div>

  <div>
    <form class="regiterForm" [formGroup]="passwordForm" (ngSubmit)="onRemember()">
      <div class="form">
        <input type="text" formControlName="email" class="username" placeholder="Correo electr&oacute;nico"
               [ngClass]="{ 'is-invalid': submitted && pf.email.errors }"/>
        <div *ngIf="submitted && pf.email.errors" class="invalid-feedback">
          <div *ngIf="pf.email.errors.required">Es necesaria una direcci&oacute;n de correo electr&oacute;nico</div>
          <div *ngIf="pf.email.errors.email">Direcci&oacute;n de correo electr&oacute;nico con formato incorrecto</div>
        </div>
        <button class="save">Recordar contrase&#241;a</button>
      </div>
    </form>
  </div>

</div>
