.containe {
  display: flex;
  width: 1152px;
  flex-direction: row;
  margin: 0 auto;
}

.laws {
  display: flex;
  flex-direction: column;
  margin: 0;
}

.empty-laws {
  width: 817px;
}

.searcher {
  display: flex;
  flex-direction: column;
  width: 335px;
  background: #3E979E;
}

.law {
  display: flex;
  flex-direction: column;
  padding: 0;
}

.law-headline {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 817px;
  background: linear-gradient(180deg, rgba(0, 0, 0, 0.3) 0%, rgba(0, 0, 0, 0.3) 100%);
  background-size: cover;
}

.headline {
  width: 686px;
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 29px;
  line-height: 130.7%;
  letter-spacing: 0.02em;
  color: #FFFFFF;
  margin: 0;
  text-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
  padding: 19px 0 10px 73px;
}

.headline a {
  color: #FFFFFF;
  text-decoration-line: none;
}

.category {
  position: relative;
  width: 526px;
  height: 25px;
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 19px;
  line-height: 130.7%;
  display: flex;
  align-items: center;
  letter-spacing: 0.02em;
  color: #FFFFFF;
  text-shadow: 0 0 4px rgba(0, 0, 0, 0.4);
  padding: 10px 21px 20px 73px;
}

.law-info {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 34px 5px 45px 45px;
  width: 817px;
  font-family: Roboto, sans-serif;
  font-style: normal;
  letter-spacing: 0.02em;
  background: #F3F3F3;
  justify-content: space-between;
}

.texto {
  position: relative;
  width: 694px;
  padding-bottom: 25px;
  font-style: normal;
  font-weight: 300;
  font-size: 17px;
  line-height: 144.7%;
  color: #333333;
  background: #F3F3F3;
}

.voto {
  position: relative;
  width: 254px;
  height: 22px;
  font-weight: normal;
  font-size: 15px;
  line-height: 144.7%;
  color: #FFFFFF;
  background: #3E979E;
  text-align: center;
}

.botones {
  position: relative;
  width: 421px;
  height: 53px;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 7px;
}

.boton {
  width: 55px;
  height: 53px;
  text-align: center;
  border: 2px solid #3E979E;
  box-sizing: border-box;
  font-weight: 700;
  font-size: 20px;
  line-height: 26px;
  padding: 12px;
  color: #F3F3F3;
  background: #66ADB3;
}

.boton:hover {
  color: #F3F3F3;
  background: #66ADB3;
}

.si {
  width: 55px;
}

.disabled {
  color: #3E979E;
  background: #FFF;
}

.no {
  width: 65px;
}

.abs {
  width: 76px;
}

.more {
  width: 144px;
}

.percentage {
  width: 717px;
  height: 45px;
  padding-top: 25px;
}

.percentage-bar {
  height: 10px;
  background: #E8E8E8;
}

.percentage-bar-value {
  height: 10px;
  background: #3E979E;
}

.percentage-value {
  position: relative;
  height: 20px;
  font-weight: normal;
  font-size: 18px;
  line-height: 144.7%;
  color: #3E979E;
  text-align: center;
}

.searcher-text {
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 17px;
  line-height: 20px;
  letter-spacing: 0.02em;
  color: #FFFFFF;
  opacity: 0.73;
}

.searcher-title {
  padding: 19px 26px;
}

.law-area {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 5px;
  padding-left: 27px;
}

.law-type {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
}

.search-input {
  width: 282px;
  height: 54px;
  padding: 17px 9px;
  background: #5BA7AD;
  text-align: center;
  border:none;
  background-image:none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}

input:focus{
  outline: none;
}

::placeholder {
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 17px;
  line-height: 20px;
  letter-spacing: 0.02em;
  color: #FFFFFF;
  opacity: 0.73;
}

.searcher-small-box {
  width: 138px;
  height: 54px;
  background: #5BA7AD;
  text-align: center;
  padding: 17px 9px;
}

.searcher-large-box {
  width: 282px;
  height: 54px;
  padding: 17px 9px;
  background: #5BA7AD;
  text-align: center;
}

.active {
  background: #BBD7D9;
}
