<div class="landing" *ngIf="landing">
  <div>
    <h1>Democracia directa</h1>
    <div class="delegacionvoto">y delegaci&oacute;n de voto</div>
  </div>
  <h2>Nuestro objetivo es acercar la pol&iacute;tica a la ciudadan&iacute;a</h2>
</div>

<div class="explanation" *ngIf="landing">
  <div class="what">¿Qu&eacute; hacemos?</div>
  <div class="explanation-text">
    Referenda es una aplicaci&oacute;n web de Democracia Directa y delegaci&oacute;n de voto.
    Nuestro objetivo es acercar la política a la ciudadanía.
    Queremos formar una opinión pública responsable fomentando el conocimiento sobre nuestras leyes,
    su proceso de creación y sus legisladores.
  </div>
  <div class="explanation-columns">
    <div class="explanation-column">
      <img class="img-direct-democracy" src="../../assets/img/directdemocracy.svg" alt="Democracia Directa"
           loading="lazy">
      <div class="explanation-text">
        Para conseguirlo, utilizamos la <span class="text-referenda">Democracia Directa</span>,
        que <span class="text-referenda">permite a cualquier ciudadano indicar si está
        o no de acuerdo con una determinada ley</span>.
        Lo hacemos ofreciendo la posibilidad de votar las <span class="text-referenda">mismas leyes</span> y propuestas
        que se debaten a la vez en el <span class="text-referenda">Congreso de los Diputados.</span>
      </div>
    </div>
    <div class="explanation-column">
      <img class="img-delegation" src="../../assets/img/delegatevote.svg" alt="Delegación de voto" loading="lazy">
      <div class="explanation-text">
        <span class="text-referenda">Apostamos por la delegación de voto</span> en una organización o en un individuo,
        permitiendo a nuestros usuarios delegar sus votos en expertos y personas influyentes
        cuando se discuta sobre ciertos temas. Esta delegación es transitiva,
        pudiéndose formar grandes cadenas que canalizan los votos.
      </div>
      <div class="delegate" routerLink="/delegar">Delegar voto</div>
    </div>
  </div>
  <div class="explanation-text">
    A continuación listamos las leyes que se están debatiendo ahora en el Congreso de los Diputados
    para que puedas indicar tu voto. A favor, en contra o abstención
  </div>
</div>

<div class="content">

  <div class="laws-lines">

    <div class="laws-line-2">
      <div class="law-2" *ngFor="let law of lawsTwo()">

        <div class="law-headline-2" [style.background-image]="'url(../../assets/img/' + law.area[0] + '.webp)'">
          <h2 class="headline-h2">
            <a routerLink="/ley/{{law.slug}}">{{law.headline}}</a>
          </h2>
          <div class="category">{{law.area}}</div>
        </div>

        <div class="law-info-2">
          <div class="text-2">{{law.short_description}}</div>
          <div class="vote-advise-2" *ngIf="law.userPosition === 0">Aún no has votado esta propuesta</div>
          <div class="vote-remember-2" *ngIf="law.userPosition !== 0">Ya has votado esta propuesta</div>
          <div class="botones-2">
            <div class="boton-2 si-2 visible" (click)="submitVote([law.slug], 1);"
                 [ngClass]="{'position-active-2': law.userPosition === 1,
                        winner: law.isPositive || law.checkNegative || law.checkAbstention}"
                 (mouseover)="law.checkPositive=true" (mouseleave)="law.checkPositive=false">S&Iacute;
            </div>
            <div class="boton-2 no-2" (click)="submitVote([law.slug], 2);"
                 [ngClass]="{'position-active-2': law.userPosition === 2,
                        winner: law.isNegative || law.checkPositive || law.checkAbstention}"
                 (mouseover)="law.checkNegative=true" (mouseleave)="law.checkNegative=false">NO
            </div>
            <div class="boton-2 abs-2" (click)="submitVote([law.slug], 3);"
                 [ngClass]="{'position-active-2': law.userPosition === 3,
                        winner: law.isAbstention || law.checkPositive || law.checkNegative}"
                 (mouseover)="law.checkAbstention=true" (mouseleave)="law.checkAbstention=false">ABS
            </div>
            <div class="boton-2 more-2" routerLink="/ley/{{law.slug}}">LEER M&Aacute;S</div>
            <div class="comments-number-2" routerLink="/ley/{{law.slug}}">{{law.commentsLength}} comentarios</div>
          </div>
          <div class="percentage-2">
            <div class="percentage-bar">
              <div class="percentage-bar-value" [style.width.%]="law.positivePercentage + 1"
                   *ngIf="law.isPositive && !law.checkNegative && !law.checkAbstention || law.checkPositive"></div>
              <div class="percentage-bar-value" [style.width.%]="law.negativePercentage + 1"
                   *ngIf="law.isNegative && !law.checkPositive && !law.checkAbstention || law.checkNegative"></div>
              <div class="percentage-bar-value" [style.width.%]="law.abstentionPercentage + 1"
                   *ngIf="law.isAbstention && !law.checkPositive && !law.checkNegative || law.checkAbstention"></div>
            </div>
            <div class="percentage-value-2" [style.width.%]="law.positivePercentage + 4"
                 *ngIf="law.isPositive && !law.checkNegative && !law.checkAbstention || law.checkPositive">
              {{law.positivePercentage | number:'1.0-0'}}%
            </div>
            <div class="percentage-value-2" [style.width.%]="law.negativePercentage + 4"
                 *ngIf="law.isNegative && !law.checkPositive && !law.checkAbstention || law.checkNegative">
              {{law.negativePercentage | number:'1.0-0'}}%
            </div>
            <div class="percentage-value-2" [style.width.%]="law.abstentionPercentage + 4"
                 *ngIf="law.isAbstention && !law.checkPositive && !law.checkNegative || law.checkAbstention">
              {{law.abstentionPercentage | number:'1.0-0'}}%
            </div>
          </div>
        </div>

      </div>
    </div>

    <div class="laws-line-3">
      <div class="law-3" *ngFor="let law of lawsRest()">

        <div class="law-headline-3" [style.background-image]="'url(../../assets/img/' + law.area[0] + '.webp)'">
          <h2 class="headline-h2-3">
            <a routerLink="/ley/{{law.slug}}">{{law.headline}}</a>
          </h2>
          <div class="category">{{law.area}}</div>
        </div>

        <div class="law-info-3">
          <div class="text-3">{{law.short_description}}</div>
          <div class="vote-advise-3" *ngIf="law.userPosition === 0">Aún no has votado esta propuesta</div>
          <div class="vote-remember-3" *ngIf="law.userPosition !== 0">Ya has votado esta propuesta</div>
          <div class="botones-3">
            <div class="boton-3 si-3 visible" (click)="submitVote([law.slug], 1);"
                 [ngClass]="{'position-active-3': law.userPosition === 1,
                        winner: law.isPositive || law.checkNegative || law.checkAbstention}"
                 (mouseover)="law.checkPositive=true" (mouseleave)="law.checkPositive=false">S&Iacute;
            </div>
            <div class="boton-3 no-3" (click)="submitVote([law.slug], 2);"
                 [ngClass]="{'position-active-3': law.userPosition === 2,
                        winner: law.isNegative || law.checkPositive || law.checkAbstention}"
                 (mouseover)="law.checkNegative=true" (mouseleave)="law.checkNegative=false">NO
            </div>
            <div class="boton-3 abs-3" (click)="submitVote([law.slug], 3);"
                 [ngClass]="{'position-active-3': law.userPosition === 3,
                        winner: law.isAbstention || law.checkPositive || law.checkNegative}"
                 (mouseover)="law.checkAbstention=true" (mouseleave)="law.checkAbstention=false">ABS
            </div>
            <div class="boton-3 more-3" routerLink="/ley/{{law.slug}}">LEER M&Aacute;S</div>
            <div class="comments-number-3" routerLink="/ley/{{law.slug}}">{{law.commentsLength}} comentarios</div>
          </div>
          <div class="percentage-3">
            <div class="percentage-bar">
              <div class="percentage-bar-value" [style.width.%]="law.positivePercentage + 1"
                   *ngIf="law.isPositive && !law.checkNegative && !law.checkAbstention || law.checkPositive"></div>
              <div class="percentage-bar-value" [style.width.%]="law.negativePercentage + 1"
                   *ngIf="law.isNegative && !law.checkPositive && !law.checkAbstention || law.checkNegative"></div>
              <div class="percentage-bar-value" [style.width.%]="law.abstentionPercentage + 1"
                   *ngIf="law.isAbstention && !law.checkPositive && !law.checkNegative || law.checkAbstention"></div>
            </div>
            <div class="percentage-value-3" [style.width.%]="law.positivePercentage + 4"
                 *ngIf="law.isPositive && !law.checkNegative && !law.checkAbstention || law.checkPositive">
              {{law.positivePercentage | number:'1.0-0'}}%
            </div>
            <div class="percentage-value-3" [style.width.%]="law.negativePercentage + 4"
                 *ngIf="law.isNegative && !law.checkPositive && !law.checkAbstention || law.checkNegative">
              {{law.negativePercentage | number:'1.0-0'}}%
            </div>
            <div class="percentage-value-3" [style.width.%]="law.abstentionPercentage + 4"
                 *ngIf="law.isAbstention && !law.checkPositive && !law.checkNegative || law.checkAbstention">
              {{law.abstentionPercentage | number:'1.0-0'}}%
            </div>
          </div>
        </div>

      </div>
    </div>

  </div>

  <div class="searcher-laws">
    <div class="searcher-v2">
      <div class="searcher-title searcher-text">Busca una ley o proposici&oacute;n</div>
      <div class="searcher-title-container" (click)="showSmartphoneMenu()">
        <div class="searcher-title-mobile">
          BUSCA UNA LEY O PROPOSICI&Oacute;N
        </div>
        <div class="smartphone-menu-show" *ngIf="!smartphoneMenu"></div>
        <div class="smartphone-menu-hide" *ngIf="smartphoneMenu"></div>
      </div>
      <div class="searcher-input-container" *ngIf="smartphoneMenu">
        <input class="search-input searcher-text" [(ngModel)]="headline"
               placeholder="Escribe aqu&iacute; tus palabras clave">
      </div>
      <div class="searcher-title-category-type" *ngIf="smartphoneMenu">Elige una categor&iacute;a</div>
      <div class="law-area" *ngIf="smartphoneMenu">
        <div class="searcher-small-box searcher-text"
             [ngClass]="{active: area==='educacion'}" (click)="toggleArea('educacion')">Educaci&oacute;n
        </div>
        <div class="searcher-small-box searcher-text"
             [ngClass]="{active: area==='sanidad'}" (click)="toggleArea('sanidad')">Sanidad
        </div>
        <div class="searcher-small-box searcher-text"
             [ngClass]="{active: area==='economia'}" (click)="toggleArea('economia')">Econom&iacute;a
        </div>
        <div class="searcher-small-box searcher-text"
             [ngClass]="{active: area==='justicia'}" (click)="toggleArea('justicia')">Justicia
        </div>
        <div class="searcher-small-box searcher-text"
             [ngClass]="{active: area==='exteriores'}" (click)="toggleArea('exteriores')">Exteriores
        </div>
        <div class="searcher-small-box searcher-text"
             [ngClass]="{active: area==='defensa'}" (click)="toggleArea('defensa')">Defensa
        </div>
        <div class="searcher-small-box searcher-text"
             [ngClass]="{active: area==='interior'}" (click)="toggleArea('interior')">Interior
        </div>
        <div class="searcher-small-box searcher-text"
             [ngClass]="{active: area==='agricultura'}" (click)="toggleArea('agricultura')">Agricultura
        </div>
        <div class="searcher-small-box searcher-text"
             [ngClass]="{active: area==='infraestructuras'}" (click)="toggleArea('infraestructuras')">Infraestructuras
        </div>
        <div class="searcher-small-box searcher-text"
             [ngClass]="{active: area==='cultura'}" (click)="toggleArea('cultura')">Cultura
        </div>
      </div>
      <div class="searcher-title-category-type" *ngIf="smartphoneMenu">Elige el tipo de propuesta</div>
      <div class="law-type" *ngIf="smartphoneMenu">
        <div class="searcher-large-box searcher-text"
             [ngClass]="{active: lawType==='legislativa'}" (click)="toggleType('legislativa')">
          Propuesta legislativas
        </div>
        <div class="searcher-large-box searcher-text"
             [ngClass]="{active: lawType==='orientacion'}" (click)="toggleType('orientacion')">
          Propuesta de orientaci&oacute;n pol&iacute;tica
        </div>
      </div>
    </div>
  </div>

</div>

<div class="layer-laws">

  <div class="laws">
    <div class="law" *ngFor="let law of lawsToShow()">

      <div class="law-headline" [style.background-image]="'url(../../assets/img/' + law.area[0] + '.webp)'">
        <div class="headline-featured">
          <h2 class="headline-h2" [ngClass]="{headlinefeatured: law.featured}">
            <a routerLink="/ley/{{law.slug}}">{{law.headline}}</a>
          </h2>
          <div class="featured" *ngIf="law.featured">
            &nbsp;¡A debate esta semana en el Congreso de los Diputados!
          </div>
        </div>
        <div class="category">{{law.area}}</div>
      </div>

      <div class="law-info">
        <div class="texto">{{law.short_description}}</div>
        <div class="vote-advise" *ngIf="law.userPosition === 0">Aún no has votado esta propuesta</div>
        <div class="vote-remember" *ngIf="law.userPosition !== 0">Ya has votado esta propuesta</div>
        <div class="botones">
          <div class="boton si visible" (click)="submitVote([law.slug], 1);"
               [ngClass]="{'position-active': law.userPosition === 1,
                        disabled: !law.isPositive || law.checkNegative || law.checkAbstention}"
               (mouseover)="law.checkPositive=true" (mouseleave)="law.checkPositive=false">S&Iacute;
          </div>
          <div class="boton no" (click)="submitVote([law.slug], 2);"
               [ngClass]="{'position-active': law.userPosition === 2,
                        disabled: !law.isNegative || law.checkPositive || law.checkAbstention}"
               (mouseover)="law.checkNegative=true" (mouseleave)="law.checkNegative=false">NO
          </div>
          <div class="boton abs" (click)="submitVote([law.slug], 3);"
               [ngClass]="{'position-active': law.userPosition === 3,
                        disabled: !law.isAbstention || law.checkPositive || law.checkNegative}"
               (mouseover)="law.checkAbstention=true" (mouseleave)="law.checkAbstention=false">ABS
          </div>
          <div class="boton more disabled" routerLink="/ley/{{law.slug}}">LEER M&Aacute;S</div>
        </div>
        <div class="percentage">
          <div class="percentage-bar">
            <div class="percentage-bar-value" [style.width.%]="law.positivePercentage + 1"
                 *ngIf="law.isPositive && !law.checkNegative && !law.checkAbstention || law.checkPositive"></div>
            <div class="percentage-bar-value" [style.width.%]="law.negativePercentage + 1"
                 *ngIf="law.isNegative && !law.checkPositive && !law.checkAbstention || law.checkNegative"></div>
            <div class="percentage-bar-value" [style.width.%]="law.abstentionPercentage + 1"
                 *ngIf="law.isAbstention && !law.checkPositive && !law.checkNegative || law.checkAbstention"></div>
          </div>
          <div class="percentage-value" [style.width.%]="law.positivePercentage + 4"
               *ngIf="law.isPositive && !law.checkNegative && !law.checkAbstention || law.checkPositive">
            {{law.positivePercentage | number:'1.0-0'}}%
          </div>
          <div class="percentage-value" [style.width.%]="law.negativePercentage + 4"
               *ngIf="law.isNegative && !law.checkPositive && !law.checkAbstention || law.checkNegative">
            {{law.negativePercentage | number:'1.0-0'}}%
          </div>
          <div class="percentage-value" [style.width.%]="law.abstentionPercentage + 4"
               *ngIf="law.isAbstention && !law.checkPositive && !law.checkNegative || law.checkAbstention">
            {{law.abstentionPercentage | number:'1.0-0'}}%
          </div>
        </div>
      </div>

      <div class="voter-container">
        <div class="voter-shower" (click)="showVoterMenu(law.slug)">
          <div class="voter">
            VOTA ESTA PROPOSICI&Oacute;N
          </div>
          <div class="miniuparrow" *ngIf="!voterSlugs.includes(law.slug)"></div>
          <div class="minidownarrow" *ngIf="voterSlugs.includes(law.slug)"></div>
        </div>

        <div class="voter-menu" *ngIf="voterSlugs.includes(law.slug)">

          <div class="voter-button-bar">
            <div class="voter-button" (click)="submitVote([law.slug], 1);"
                 [ngClass]="{vote: law.userPosition===1}">S&Iacute;
            </div>
            <div class="voter-bar">
              <div class="voter-bar-value" [style.width.%]="law.positivePercentage">
                <div class="voter-percentage">
                  {{law.positivePercentage | number:'1.0-0'}}%
                </div>
              </div>
            </div>
          </div>

          <div class="voter-button-bar">
            <div class="voter-button" (click)="submitVote([law.slug], 2);"
                 [ngClass]="{vote: law.userPosition===2}">NO
            </div>
            <div class="voter-bar">
              <div class="voter-bar-value" [style.width.%]="law.negativePercentage">
                <div class="voter-percentage">
                  {{law.negativePercentage | number:'1.0-0'}}%
                </div>
              </div>
            </div>
          </div>

          <div class="voter-button-bar">
            <div class="voter-button" (click)="submitVote([law.slug], 3);"
                 [ngClass]="{vote: law.userPosition===3}">ABS
            </div>
            <div class="voter-bar">
              <div class="voter-bar-value" [style.width.%]="law.abstentionPercentage">
                <div class="voter-percentage">
                  {{law.abstentionPercentage | number:'1.0-0'}}%
                </div>
              </div>
            </div>
          </div>

          <div class="voter-button-bar">
            <div class="voter-button" routerLink="/ley/{{law.slug}}">LEER M&Aacute;S</div>
          </div>

        </div>

      </div>

      <div class="position-container">
        <div class="voter-shower" (click)="showPartiesMenu(law.slug)">
          <div class="voter azul-referenda">
            POSICIONAMIENTOS
          </div>
          <div class="miniuparrowblue" *ngIf="!partiesSlugs.includes(law.slug)"></div>
          <div class="minidownarrowblue" *ngIf="partiesSlugs.includes(law.slug)"></div>
        </div>

        <div class="position-menu" *ngIf="partiesSlugs.includes(law.slug)">
          <div class="parties-position">
            <div class="party-owner">Propuesta presentada por:</div>
            <img class="mini-logo" src="assets/img/{{law.institution[0]}}.svg" alt="{{law.institution[0]}}">
          </div>
        </div>
        <div class="position-menu" *ngIf="partiesSlugs.includes(law.slug)">
          <div class="position-button favor" [ngClass]="{'position-active': partiesPosition==='favour'}"
               (click)="partiesPosition='favour';">A FAVOR
          </div>
          <div class="position-button contra" [ngClass]="{'position-active': partiesPosition==='against'}"
               (click)="partiesPosition='against';">EN CONTRA
          </div>
          <div class="position-button abs" [ngClass]="{'position-active': partiesPosition==='abs'}"
               (click)="partiesPosition='abs';">ABS
          </div>
        </div>
        <div class="position-logos" *ngIf="partiesSlugs.includes(law.slug)">
          <div class="parties" *ngIf="partiesPosition==='favour'">
            <img *ngFor="let party of law.positiveParties" src="assets/img/{{party}}.svg" alt="{{party}}"
                 [ngStyle]="{'width': logoWidth(party), 'height': logoHeight(party)}">
          </div>
          <div class="parties" *ngIf="partiesPosition==='against'">
            <img *ngFor="let party of law.negativeParties" src="assets/img/{{party}}.svg" alt="{{party}}"
                 [ngStyle]="{'width': logoWidth(party), 'height': logoHeight(party)}">
          </div>
          <div class="parties" *ngIf="partiesPosition==='abs'">
            <img *ngFor="let party of law.abstentionParties" src="assets/img/{{party}}.svg" alt="{{party}}"
                 [ngStyle]="{'width': logoWidth(party), 'height': logoHeight(party)}">
          </div>
        </div>
      </div>

      <div class="position-container">
        <div class="voter-shower" [routerLink]="['/ley/' + law.slug]" [queryParams]="{comments: true}">
          <div class="voter azul-referenda">
            COMENTARIOS ({{law.commentsLength}})
          </div>
          <div class="miniuparrowblueright" *ngIf="!partiesSlugs.includes(law.slug)"></div>
        </div>
      </div>

    </div>
  </div>

  <div class="searcher-sticky"></div>
  <div class="searcher">
    <div class="searcher-title searcher-text">Busca una ley o proposici&oacute;n</div>
    <div class="searcher-title-container" (click)="showSmartphoneMenu()">
      <div class="searcher-title-mobile">
        BUSCA UNA LEY O PROPOSICI&Oacute;N
      </div>
      <div class="smartphone-menu-show" *ngIf="!smartphoneMenu"></div>
      <div class="smartphone-menu-hide" *ngIf="smartphoneMenu"></div>
    </div>
    <div class="searcher-input-container" *ngIf="smartphoneMenu">
      <input class="search-input searcher-text" [(ngModel)]="headline"
             placeholder="Escribe aqu&iacute; tus palabras clave">
    </div>
    <div class="searcher-title-category-type" *ngIf="smartphoneMenu">Elige una categor&iacute;a</div>
    <div class="law-area" *ngIf="smartphoneMenu">
      <div class="searcher-small-box searcher-text"
           [ngClass]="{active: area==='educacion'}" (click)="toggleArea('educacion')">Educaci&oacute;n
      </div>
      <div class="searcher-small-box searcher-text"
           [ngClass]="{active: area==='sanidad'}" (click)="toggleArea('sanidad')">Sanidad
      </div>
      <div class="searcher-small-box searcher-text"
           [ngClass]="{active: area==='economia'}" (click)="toggleArea('economia')">Econom&iacute;a
      </div>
      <div class="searcher-small-box searcher-text"
           [ngClass]="{active: area==='justicia'}" (click)="toggleArea('justicia')">Justicia
      </div>
      <div class="searcher-small-box searcher-text"
           [ngClass]="{active: area==='exteriores'}" (click)="toggleArea('exteriores')">Exteriores
      </div>
      <div class="searcher-small-box searcher-text"
           [ngClass]="{active: area==='defensa'}" (click)="toggleArea('defensa')">Defensa
      </div>
      <div class="searcher-small-box searcher-text"
           [ngClass]="{active: area==='interior'}" (click)="toggleArea('interior')">Interior
      </div>
      <div class="searcher-small-box searcher-text"
           [ngClass]="{active: area==='agricultura'}" (click)="toggleArea('agricultura')">Agricultura
      </div>
      <div class="searcher-small-box searcher-text"
           [ngClass]="{active: area==='infraestructuras'}" (click)="toggleArea('infraestructuras')">Infraestructuras
      </div>
      <div class="searcher-small-box searcher-text"
           [ngClass]="{active: area==='cultura'}" (click)="toggleArea('cultura')">Cultura
      </div>
    </div>
    <div class="searcher-title-category-type" *ngIf="smartphoneMenu">Elige el tipo de propuesta</div>
    <div class="law-type" *ngIf="smartphoneMenu">
      <div class="searcher-large-box searcher-text"
           [ngClass]="{active: lawType==='legislativa'}" (click)="toggleType('legislativa')">
        Propuesta legislativas
      </div>
      <div class="searcher-large-box searcher-text"
           [ngClass]="{active: lawType==='orientacion'}" (click)="toggleType('orientacion')">
        Propuesta de orientaci&oacute;n pol&iacute;tica
      </div>
    </div>
  </div>

</div>



