<div class="container">
  <br>
  <div class="row justify-content-md-center">
    <div class="col-xs-12 col-sm-12">
      <h1>Democracia directa y delegaci&oacute;n de voto.</h1>
      <h2>¿Cómo funciona Referenda?</h2>
      <hr>
      <p align="justify"> Nuestro objetivo es acercar la pol&iacute;tica a la ciudadan&iacute;a.
          Queremos formar una opinión pública responsable fomentando el conocimiento
          sobre nuestras leyes, su proceso de creación y sus legisladores.</p>
      <p align="justify"> Para conseguirlo, utilizamos la <b>Democracia Directa</b>,
          que <b>permite a cualquier ciudadano indicar si está o no de acuerdo con una determinada ley</b>.
        Lo hacemos ofreciendo la posibilidad de votar las <b>mismas leyes</b> y propuestas que se debaten
        a la vez en el <b>Congreso de los Diputados</b>.</p>
      <p align="justify"> <b>Apostamos por la delegación de voto</b> en una organización o en un individuo permitiendo a
          nuestros usuarios delegar sus votos en expertos y personas influyentes cuando se discuta sobre
          ciertos temas. Esta delegación es transitiva, pudiéndose formar grandes cadenas que
          canalizan los votos.</p>
      <p align="justify"> A continuación listamos las leyes <b> que se están debatiendo ahora </b> en el
        Congreso de los Diputados para que puedas indicar tu voto. A favor, en contra o abstención</p>
      <hr>
    </div>
  </div>
  <ul class="nav justify-content-center">
    <input class="form-control mr-sm-2 search" [(ngModel)]="lawFilter.headline"
           placeholder="Escribe aqu&iacute; palabras clave para buscar una Ley o Proposici&oacute;n">
    <div class="btn-group btn-group-toggle flex-wrap text-center" data-toggle="buttons">
      <label class="btn btn-secondary active">
        <input type="radio" name="options" id="all" autocomplete="off" checked (click)="filter('all')">
          Todas las propuestas
      </label>
      <label class="btn btn-secondary">
        <input type="radio" name="options" id="educacion" autocomplete="off" (click)="filter('educacion')">
          Educaci&oacute;n
      </label>
      <label class="btn btn-secondary">
        <input type="radio" name="options" id="sanidad" autocomplete="off" (click)="filter('sanidad')">
          Sanidad
      </label>
      <label class="btn btn-secondary">
        <input type="radio" name="options" id="economia" autocomplete="off" (click)="filter('economia')">
        Econom&iacute;a
      </label>
      <label class="btn btn-secondary">
        <input type="radio" name="options" id="justicia" autocomplete="off" (click)="filter('justicia')">
          Justicia
      </label>
      <label class="btn btn-secondary">
        <input type="radio" name="options" id="exteriores" autocomplete="off" (click)="filter('exteriores')">
          Exteriores
      </label>
      <label class="btn btn-secondary">
        <input type="radio" name="options" id="defensa" autocomplete="off" (click)="filter('defensa')">
          Defensa
      </label>
      <label class="btn btn-secondary">
        <input type="radio" name="options" id="interior" autocomplete="off" (click)="filter('interior')">
          Interior
      </label>
      <label class="btn btn-secondary">
        <input type="radio" name="options" id="agricultura" autocomplete="off" (click)="filter('agricultura')">
          Agricultura
      </label>
      <label class="btn btn-secondary">
        <input type="radio" name="options" id="infraestructura" autocomplete="off" (click)="filter('infraestructura')">
          Infraestructuras
      </label>
      <label class="btn btn-secondary">
        <input type="radio" name="options" id="cultura" autocomplete="off" (click)="filter('cultura')">
          Cultura
      </label>
    </div>
  </ul>
  <hr>
  <div class="row" *ngFor="let law of laws | filterBy: lawFilter">
    <div class="col-xs-12 col-sm-7" [ngStyle]="{'background-color': law.featured === true ? '#eee': 'white'}">
      <div class="media">
        <div class="media-body">
          <div class="vertical-line">
            <h2><a class="law-headline" routerLink="/ley/{{law.slug}}">{{law.headline}}</a></h2>
          </div>
          <p class="law-description">{{law.short_description}}</p>
          <div class="row">
            <div class="col-xs-12 col-sm-3">
              <a class="btn btn-primary sharp gris" routerLink="/ley/{{law.slug}}">Votar</a>
            </div>
            <div class="col-xs-12 col-sm-9 featured" *ngIf="law.featured">
              <i class="material-icons featured">calendar_today</i>
              &nbsp;¡A debate esta semana en el Congreso de los Diputados!
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-xs-12 col-sm-5" [ngStyle]="{'background-color': law.featured === true ? '#eee': 'white'}">
      <br>
      <div class="col-xs-12 col-sm-12" style="padding: 0px;">
        <button type="button" class="btn btn-primary sharp yes maxi-font"
                [style.width]=[law.positiveWidth]>S&Iacute;</button>
        <span class="result-number yes">{{ ( 100 * law.positive / (law.positive +
                              law.negative + law.abstention)) | number:'1.0-0' }}%</span>
      </div>
      <div class="col-xs-12 col-sm-12" style="padding: 0px;">
        <button type="button" class="btn btn-primary sharp no maxi-font"
                [style.width]=[law.negativeWidth]>NO</button>
        <span class="result-number no">{{ ( 100 * law.negative / (law.positive +
                              law.negative + law.abstention)) | number:'1.0-0' }}%</span>
      </div>
      <div class="col-xs-12 col-sm-12" style="padding: 0px;">
        <button type="button" class="btn btn-primary sharp abstention maxi-font"
                [style.width]=[law.abstentionWidth]>ABS</button>
        <span class="result-number abstention">{{ ( 100 * law.abstention / (law.positive +
                              law.negative + law.abstention)) | number:'1.0-0' }}%</span>
      </div>
    </div>
    <div class="col-xs-12 col-sm-12">
      <hr>
    </div>
  </div>
</div>
