<div class="cookies">

  <h1>Política de Cookies</h1>

  <h2>Qué son las Cookies</h2>
  <div class="text">
    <p>Una cookie es un fichero que se descarga en tu ordenador al entrar a determinadas páginas web.
      Las cookies permiten a una página web,
      entre otras cosas, almacenar y recuperar información sobre tus hábitos de navegación,
      personalizar la forma en que se muestra el contenido y,
      dependiendo de la información que contengan y de la forma en que utilices tu equipo,
      pueden utilizarse para identificarte.</p>
  </div>

  <h2>Tipos de Cookies utilizadas en referenda.es</h2>
  <div class="text">
    <p>A continuación se clasifican las cookies utilizadas por el sitio Web https://referenda.es:</p>
    <p class="section">Según la entidad que las gestiona:</p>
    <p><b>Cookies propias:</b> Son aquellas enviadas y gestionadas directamente por referenda.es.</p>
    <p><b>Cookies de terceros:</b> Son aquellas que se envían al usuario desde un dominio ajeno a referenda.es.</p>
    <p class="section">Según su finalidad:</p>
    <p><b>Cookies técnicas:</b> Son aquellas que permiten a los usuarios registrados navegar a través
      del sitio Web, del área restringida y a utilizar sus diferentes funciones,
      como por ejemplo, el sistema de comentarios.</p>
    <p><b>Cookies de personalización:</b> Son aquellas que permiten a los usuarios acceder a Referenda
      con algunas características de carácter general predefinidas en función de una serie de
      criterios establecidos por el usuario como, por ejemplo, el idioma o
      el tipo de navegador a través del cual se conecta a este sitio Web.</p>
    <p><b>Cookies de análisis o medición:</b> Son aquellas que, bien tratadas por el sitio Web
      o por terceros, permiten cuantificar el número de usuarios y así realizar la medición y
      análisis estadístico de la utilización que hacen los usuarios del sitio Web.
      Para ello se analiza la navegación que realizas en este sitio Web con el fin de mejorarlo. </p>
    <p><b>Cookies sociales:</b> Son establecidas por las plataformas de redes sociales
      para permitir a los usuarios compartir contenido con sus amigos y redes. </p>
    <p class="section">Según su duración:</p>
    <p><b>Cookies de sesión:</b> Son aquellas diseñadas para recabar y almacenar datos mientras
      el usuario accede al sitio Web.</p>
    <p><b>Cookies persistentes:</b> Son aquellas en las que los datos siguen almacenados
      en el terminal del usuario y pueden ser accedidos y tratados durante un período definido
      por el responsable de la cookie.</p>
  </div>

  <h2>Listado de cookies utilizadas</h2>
  <div class="text">
    <p>Referenda puede instalar las siguientes cookies:</p>
    <p class="section">Cookies técnicas:</p>
    <p><b>referendaConsent:</b> Cookie técnica que almacena el consentimiento del uso de cookies del usuario.
      Es persistente y tiene una duración de un mes.</p>
    <p><b>G_AUTHUSER_H:</b> Cookie técnica utilizada para permitir la navegación de usuario autenticados
      mediante su cuenta de usuario de Google. Se trata de una cookie de sesión.</p>
    <p><b>G_ENABLED_IDPS:</b> Cookie técnica utilizada para permitir la navegación de usuario autenticados
      mediante su cuenta de usuario de Google. Se trata de una cookie persistente sin caducidad.</p>
    <p><b>fbm_*:</b> Cookie técnica utilizada para permitir la navegación de usuario autenticados
      mediante su cuenta de usuario de Facebook. Se trata de una cookie de sesión.</p>
    <p><b>fbsr_*:</b> Cookie técnica utilizada para permitir la navegación de usuario autenticados
      mediante su cuenta de usuario de Facebook. Se trata de una cookie de sesión.</p>
    <p class="section">Cookies de análisis o medición:</p>
    <p><b>_ga:</b> Cookie de medición de Google para distinguir a los usuarios. Se trata de una
      cookie persistente con una caducidad de dos años.</p>
    <p><b>_gat:</b> Cookie de medición de Google para limitar el número de solicitudes. Se trata de una
      cookie de sesión con una caducidad de un minuto.</p>
    <p><b>_gid:</b> Cookie de medición de Google para distinguir a los usuarios. Se trata de una
      cookie persistente con una caducidad de veinticuatro horas.</p>
    <p class="section">Cookies sociales:</p>
    <p>El sitio Web incluye otras funcionalidades proporcionadas por servicios de terceros y
      redes sociales para mejorar la experiencia de los visitantes.
      Puedes compartir el contenido en sus redes sociales como «Facebook», «Twitter», «Instagram»,
      «Vimeo» o «YouTube» con los botones incluidos a tal efecto o con las herramientas
      para compartir propias de las redes sociales.
      Como resultado, estos servicios pueden instalar cookies y utilizarlas
      para rastrear tu actividad online.
      No tenemos control directo sobre la información recopilada por estas cookies.</p>
  </div>

  <h2>Eliminación de Cookies</h2>
  <div class="text">
    <p>Puedes aceptar, bloquear o eliminar las cookies instaladas en tu equipo mediante
      la configuración de las opciones del navegador,
      pero parte del sitio no funcionará correctamente o su calidad puede verse afectada.</p>
    <p>En los siguientes enlaces encontrarás instrucciones para habilitar o
      deshabilitar las cookies en los navegadores más comunes:</p>
    <li class="link"><a href="http://support.mozilla.org/es/kb/habilitar-y-deshabilitar-cookies-que-los-sitios-we">Firefox</a></li>
    <li class="link"><a href="https://support.google.com/chrome/answer/95647?hl=es">Google Chrome</a></li>
    <li class="link"><a href='https://support.microsoft.com/es-es/help/17442/windows-internet-explorer-delete-manage-cookies#ie="ie-10"'>Internet Explorer</a></li>
    <li class="link"><a href="https://support.microsoft.com/es-es/help/4468242/microsoft-edge-browsing-data-and-privacy">Microsoft Edge</a></li>
    <li class="link"><a href="http://support.apple.com/kb/HT1677?viewlocale=es_ES">Safari</a></li>
  </div>

</div>

