<div class="legal">

  <h1>Aviso legal</h1>

  <h2>Contacto</h2>
  <div class="text center">
    <div><b>Dominio:</b> referenda.es</div>
    <div><b>Contacto:</b> info@referenda.es</div>
  </div>

  <h2>Finalidad</h2>
  <div class="text">
    <p class="center">Referenda es una plataforma online de Democracia Directa.</p>
    <p>Nuestro objetivo es acercar la política a la ciudadanía.
      Queremos formar una opinión pública responsable fomentando el conocimiento sobre nuestras leyes,
      su proceso de creación y sus legisladores.</p>
    <p>Para conseguir estos objetivos utilizamos la Democracia Directa,
      que permite a cualquier ciudadano indicar si está o no de acuerdo con una determinada ley.
      Y lo hacemos ofreciendo la posibilidad de votar las mismas leyes y propuestas
      que se debaten a la vez en el Congreso de los Diputados.</p>
    <p>Apostamos por la delegación de voto en una organización o en un individuo
      permitiendo a nuestros usuarios delegar sus votos en expertos y personas influyentes
      cuando se discuta sobre ciertos temas.
      Esta delegación es transitiva, pudiéndose formar grandes cadenas que canalizan los votos.</p>
  </div>

  <h2>Condiciones de uso</h2>
  <div class="text">
    <p>La utilización del sitio Web referenda.es te otorga la condición de Usuario,
      e implica la aceptación completa de todas las cláusulas y condiciones de uso incluidas en las páginas:</p>
    <div class="link" routerLink="/gdpr"><b>Aviso Legal</b></div>
    <div class="link" routerLink="/cookies"><b>Política de Cookies</b></div>
    <br>
    <p>Si no estás conforme con todas y cada una de estas cláusulas y condiciones
      te abstendrás de utilizar este sitio Web.</p>
    <p>El acceso a este sitio Web no supone, en modo alguno, el inicio de una relación comercial con Referenda.</p>
    <p>A través de este sitio Web, Referenda te facilita el acceso y la utilización
      de diversos contenidos que Referenda o sus colaboradores han publicado por medio de Internet.</p>
    <p>A tal efecto, te obligas y comprometes a NO utilizar cualquiera de los contenidos del sitio Web
      con fines o efectos ilícitos, prohibidos en este Aviso Legal o por la legislación vigente,
      lesivos de los derechos e intereses de terceros, o que de cualquier forma puedan dañar, inutilizar,
      sobrecargar, deteriorar o impedir la normal utilización de los contenidos,
      los equipos informáticos o los documentos, archivos y toda clase de contenidos almacenados
      en cualquier equipo informático propio o contratado por Referenda,
      de otros usuarios o de cualquier usuario de Internet.</p>
    <p>Referenda se reserva el derecho de retirar todos aquellos comentarios que vulneren
      la legislación vigente, lesivos de los derechos o intereses de terceros, o que, a su juicio,
      no resulten adecuados para su publicación.</p>
    <p>Referenda no será responsable de las opiniones vertidas por los usuarios
      a través del sistema de comentarios, redes sociales u otras herramientas de participación,
      conforme a lo previsto en la normativa de aplicación.</p>
  </div>

  <h2>Mayoría de edad</h2>
  <div class="text">
    <p>Debes tener al menos 18 años de edad para usar los servicios ofrecidos por Referenda
      o la mayoría de edad que se requiera en tu país para registrarte en el sitio Web o utilizarlo.
      Si resides en un país que no pertenezca a la Región europea,
      debes tener al menos 18 años de edad para usar el sitio Web
      o la mayoría de edad que se requiera en tu país para registrarte en el sitio Web o utilizarlo.</p>
    <p>Además de tener la edad mínima requerida para usar el sitio Web en virtud de la ley aplicable,
      si no tienes la edad suficiente para poder aceptar las condiciones en tu país,
      tu padre, madre, o tutor deben aceptar las condiciones en tu nombre.</p>
  </div>

  <h2>Protección de datos</h2>
  <div class="text">
    <p>El Usuario del sitio Web Referenda,
      mediante la cumplimentación del formulario de registro
      y de los formularios de modificación del perfíl de Usuario
      presta su consentimiento para el tratamiento de sus datos personales facilitados,
      que serán utilizados para los siguientes tratamientos.</p>
  </div>

  <h2>Tratamientos</h2>
  <div class="text">
    <p>Referenda utilizará los datos proporcionados por el Usuario en los siguientes tratamientos:</p>
    <p><b>i.</b> Poder contactar con el Usuario. Atender y gestionar adecuadamente las consultas,
        comentarios, sugerencias o incidencias remitidas.</p>
    <p><b>ii.</b> Autenticación de Usuario en el sitio Web referenda.es.</p>
    <p><b>iii.</b> Envío, mediante correo electrónico u otros mecenismos de comunicación,
        de mensajes relacionados con el funcionamiento, novedades
        o cualquier otra información del sitio Web.</p>
    <p><b>iv.</b> Permitir la participación del Usuario en el sitio Web mediante la votación de propuestas,
        la inclusión de comentarios de propuestas, o la delegación de voto.</p>
    <p><b>v.</b> Seguimiento agregado y no personal de tendencias de opinión y voto en la sociedad española.</p>
  </div>

  <h2>Base legitimadora de los tratamientos</h2>
  <div class="text">
    <p>El sitio Web Referenda puede realizar los tratamientos de datos gracias al consentimiento del
      Usuario proporcionado explícitamente al cumplimentar los formularios de registro
      o comentarios del sitio Web.</p>
  </div>

  <h2>Destinatarios de los datos</h2>
  <div class="text">
    <p>El destinatario de los datos es Referenda, que se compromete a utilizar los datos facilitados
      únicamente conforme a los tratamientos consentidos por el Usuario respetando su confidencialidad.</p>
  </div>

  <h2>Plazo de conservación de los datos</h2>
  <div class="text">
    <p>Los datos de identificación del Usuario (nombre de usuario y correo electrónico) serán conservados
      por Referenda mientras el Usuario se mantenga registrado en el sitio Web.</p>
    <p>Los comentarios enviados por el Usuario y realizados sobre los contenidos del sitio Web serán
       conservados con el objetivo de mantener las aportaciones del Usuario al sitio Web.</p>
    <p>Los votos emitidos por los usarios se conservarán exclusivamente mientras la proposición en
       la que se ha emitido el voto esté activa. El plazo máximo de conservación será de cuatro años.</p>
  </div>

  <h2>Derechos del Usuario</h2>
  <div class="text">
    <p><b>i. Derecho de acceso:</b> el Usuario puede acceder a sus datos personales y los tratamientos que el
      sitio Web aplica a cada uno de ellos mediante el acceso a su
      <b class="link" routerLink="/home">Perfil de Usuario.</b></p>
    <p><b>ii. Derecho de rectificación:</b> el Usuario puede solicitar la modificación de sus datos personales
      mediante petición por correo electrónico a la dirección info@referenda.es, que será atentida con
      la mayor celeridad posible.</p>
    <p><b>iii. Derecho de supresión:</b> el Usuario puede solicitar la supresión de todos sus datos personales
      mediante petición por correo electrónico a la dirección info@referenda.es, que será atentida con
      la mayor celeridad posible.</p>
    <p><b>iv. Derecho de limitación del tratamiento:</b> el Usuario puede solicitar la limitación de alguno
      de los tratamientos mediante el formulario presente en su
      <b class="link" routerLink="/home">Perfil de Usuario</b>, o también
      mediante petición por correo electrónico a la dirección info@referenda.es, que será atentida con
      la mayor celeridad posible.</p>
    <p><b>v. Derecho de oposición:</b> el Usuario puede solicitar la oposición al tratamiento de sus datos
      personales
      mediante petición por correo electrónico a la dirección info@referenda.es, que será atentida con
      la mayor celeridad posible.</p>
    <p><b>vi. Derecho de portabilidad:</b> el Usuario puede solicitar la entrega de sus datos proporcionados
      al sitio Web
      mediante petición por correo electrónico a la dirección info@referenda.es, que será atentida con
      la mayor celeridad posible.
      Los datos serán entregados en formato electrónico.</p>
    <p>Puede solicitar cualquier aclaración sobre protección de datos enviando un correo
      electrónico a la dirección
      info@referenda.es. Se contestará a su pregunta en el menor tiempo posible.</p>
    <p>El usuario puede poner en conocimiento de la Agencia Española de Protección de Datos, en forma
      de reclamación, cualquier problema relacionado con sus datos personales en este sitio Web</p>
  </div>

  <h2>Medidas de seguridad</h2>
  <div class="text">
    <p>Los datos personales que facilites a Referenda pueden ser almacenados en bases de datos automatizadas o no,
      cuya titularidad corresponde en exclusiva a Referenda, que asume todas las medidas de índole técnica,
      organizativa y de seguridad que garantizan la confidencialidad, integridad y calidad
      de la información contenida en las mismas de acuerdo con lo establecido en la normativa vigente
      en protección de datos.</p>
    <p>No obstante, debes ser consciente de que las medidas de seguridad de los sistemas informáticos
      en Internet no son enteramente fiables y que, por tanto Referenda no puede garantizar
      la inexistencia de virus u otros elementos que puedan producir alteraciones
      en los sistemas informáticos (software y hardware) del Usuario o en sus documentos electrónicos
      y ficheros contenidos en los mismos aunque Referenda pone todos los medios necesarios
      y toma las medidas de seguridad oportunas para evitar la presencia de estos elementos dañinos.</p>
  </div>

  <h2>Contenidos</h2>
  <div class="text">
    <p>Referenda ha obtenido la información, el contenido multimedia y los materiales incluidos
      en el sitio Web de fuentes que considera fiables,
      pero, si bien ha tomado todas las medidas razonables para asegurar que la información contenida
      es correcta, Referenda no garantiza que sea exacta, completa o actualizada.
      Referenda declina expresamente cualquier responsabilidad por error u omisión
      en la información contenida en las páginas de este sitio Web.</p>
    <p>Queda prohibido transmitir o enviar a través del sitio Web cualquier contenido ilegal o ilícito,
      virus informáticos, o mensajes que, en general, afecten o violen derechos de Referenda o de terceros.</p>
    <p>Los contenidos de https://referenda.es tienen únicamente una finalidad informativa y
      bajo ninguna circunstancia deben usarse ni considerarse como oferta de venta,
      solicitud de una oferta de compra ni recomendación para realizar cualquier otra operación,
      salvo que así se indique expresamente.</p>
    <p>Referenda se reserva el derecho a modificar, suspender, cancelar o restringir el contenido
      de https://referenda.es, los vínculos o la información obtenida a través del sitio Web,
      sin necesidad de previo aviso.</p>
    <p>Referenda no es responsable de los daños y perjuicios que pudieran derivarse de la utilización
      de la información del sitio Web o de la contenida en las redes sociales de Referenda.</p>
  </div>

  <h2>Política de cookies</h2>
  <div class="text">
    <p>En la página <b class="link" routerLink="/cookies">Política de Cookies</b>
      puedes consultar toda la información relativa a la política de recogida y tratamiento de las cookies.</p>
  </div>

  <h2>Enlaces a otros sitios Web</h2>
  <div class="text">
    <p>Referenda puede proporcionarte acceso a sitios Web de terceros mediante enlaces
      con la finalidad exclusiva de informarte sobre la existencia de otras fuentes de información
      en Internet en las que podrás ampliar los datos ofrecidos en el sitio Web.</p>
    <p>Estos enlaces a otros sitios Web no suponen en ningún caso una sugerencia o recomendación
      para que visites las páginas web de destino, que están fuera del control de Referenda,
      por lo que no es responsable del contenido de los sitios web vinculados
      ni del resultado que obtengas al seguir los enlaces.</p>
    <p>Asimismo, Referenda no responde de los links o enlaces ubicados en los sitios web vinculados
      a los que te proporciona acceso.</p>
    <p>El establecimiento del enlace no implica en ningún caso la existencia de relaciones entre Referenda
      y el propietario del sitio en el que se establezca el enlace,
      ni la aceptación o aprobación por parte de Referenda de sus contenidos o servicios.</p>
    <p>Si accedes a un sitio Web externo desde un enlace que encuentres en https://referenda.es
      deberás leer la propia política de privacidad del otro sitio web que puede ser diferente
      de la de este sitio Web.</p>
  </div>

  <h2>Propiedad intelectual e industrial</h2>
  <div class="text">
    <p>Todos los derechos están reservados.</p>
    <p>Todo acceso a este sitio Web está sujeto a las siguientes condiciones:
      la reproducción, almacenaje permanente y la difusión de los contenidos
      o cualquier otro uso que tenga finalidad pública o comercial queda expresamente prohibida
      sin el consentimiento previo expreso y por escrito de Referenda.</p>
  </div>

  <h2>Limitación de responsabilidad</h2>
  <div class="text">
    <p>Referenda declina cualquier responsabilidad en caso de que existan interrupciones
      o un mal funcionamiento de los Servicios o contenidos ofrecidos en Internet,
      cualquiera que sea su causa.
      Asimismo, Referenda no se hace responsable por caídas de la red,
      pérdidas de negocio a consecuencia de dichas caídas,
      suspensiones temporales de fluido eléctrico
      o cualquier otro tipo de daño indirecto que te pueda ser causado por causas ajenas a el Titular.</p>
    <p>Antes de tomar decisiones y/o acciones con base a la información incluida en el sitio Web,
      Referenda te recomienda comprobar y contrastar la información recibida con otras fuentes.</p>
  </div>

  <h2>Contacto</h2>
  <div class="text">
    <p>En caso de que tengas cualquier duda acerca de estas Condiciones legales
      o quieras realizar cualquier comentario sobre este sitio Web,
      puedes enviar un mensaje de correo electrónico a la dirección info@referenda.es.</p>
  </div>

</div>

