<div class="container">
  <div class="row justify-content-center">
    <div class="col-sm-12">
      <br>
      <br>
      <h1>Estad&iacute;sticas de votaciones en el Congreso de los Diputados</h1>
      <hr>
      <br>
    </div>
  </div>
  <div class="row row-content">
    <div class="col-xl-3 stat">
      <ul class="list-group">
        <button type="button" class="list-group-item list-group-item-action active" (click)="stat('presentadasXPartido')">
          Propuestas presentadas
        </button>
        <button type="button" class="list-group-item list-group-item-action active" (click)="stat('xPartido')">
          Propuestas votadas
        </button>
      </ul>
      <br>
    </div>
    <div *ngIf="xPartido" class="col-xl-9 stat">
      <svg>
        <rect></rect>
        <rect></rect>
        <rect></rect>
        <rect></rect>
        <rect></rect>
        <rect></rect>
        <rect></rect>
        <rect></rect>
        <rect></rect>
        <rect></rect>
        <rect></rect>
        <rect></rect>
        <rect></rect>
        <rect></rect>
        <rect></rect>
        <rect></rect>
        <rect></rect>
      </svg>
      <p class="explanation">
        <br>
        <br>
        <br>
        <br>
        <br>
        Número de propuestas votadas por cada partido político con representación en el Congreso de los Diputados
      </p>
      <br>
    </div>
    <div *ngIf="presentadasXPartido" class="col-xl-9 stat">
      <svg>
        <rect></rect>
        <rect></rect>
        <rect></rect>
        <rect></rect>
        <rect></rect>
        <rect></rect>
        <rect></rect>
        <rect></rect>
        <rect></rect>
        <rect></rect>
        <rect></rect>
        <rect></rect>
        <rect></rect>
        <rect></rect>
        <rect></rect>
        <rect></rect>
        <rect></rect>
      </svg>
      <p class="explanation">
        <br>
        <br>
        <br>
        <br>
        <br>
        Número de propuestas presentadas por cada partido político con representación en el Congreso de los Diputados
      </p>
      <br>
    </div>
  </div>
</div>
