{% extends "base.html" %}
{% load staticfiles %}


{% block content %}

<div class="row">

<p>Referenda.es usa cookies sólo con objetivos técnicos, para la autenticación de usuarios.
En ningún caso estas cookies se usan para otros fines a los anteriormente descritos.
Referenda.es no cede información de cookies a terceros.</p>

<p>Referendas.es usa Google Analytics para obtener las estadísticas de accesos a la web, lo que implica que se podrían
incluir otras cookies para monitorizar las sesiones de usuario y los usuarios únicos que acceden a la web. Estas
cookies carecen de información alguna sobre los usuarios de Referenda.es</p>

<p>El logado y autenticación de usuarios de Referenda se realiza a través de las plataformas de Google, Facebook o Twitter.
Estas empresas podrían incluir cookies para el seguimiento de la sesión o revocación de autenticación</p>

<p>Los usuarios de Referenda.es pueden eliminar las cookies desde las opciones de su navegador.</p>

</div>

{% endblock %}
