{% extends "base.html" %}
{% load staticfiles %}


{% block nav %}
<div class="row">
    <div class="small-12 large-12 columns">
        <dl class="sub-nav" style="margin-top: 4px; margin-bottom: 0px">
            <dd><a href="/" style="color: white"><i class="fi-home"></i> Votaciones</a></dd>
            <dd><a href="/results" style="color: white"><i class="fi-graph-pie"></i> Resultados</a></dd>
            <dd><a href="/delegatevote" style="color: white"><i class="fi-paperclip"></i> Delegar Votos </a></dd>
        </dl>
    </div>
</div>
{% endblock %}

{% block content %}

<div class="row">

<br>

<p>Referenda.es usa cookies sólo con objetivos técnicos, para la autenticación de usuarios.
En ningún caso estas cookies se usan para otros fines a los anteriormente descritos.
Referenda.es no cede información de cookies a terceros.</p>

<p>Referendas.es usa Google Analytics para obtener las estadísticas de accesos a la web, lo que implica que se podrían
incluir otras cookies para monitorizar las sesiones de usuario y los usuarios únicos que acceden a la web. Estas
cookies carecen de información alguna sobre los usuarios de Referenda.es</p>

<p>El logado y autenticación de usuarios de Referenda se realiza a través de las plataformas de Google, Facebook o Twitter.
Estas empresas podrían incluir cookies para el seguimiento de la sesión o revocación de autenticación</p>

<p>Los usuarios de Referenda.es pueden eliminar las cookies desde las opciones de su navegador.</p>

</div>

{% endblock %}
