{% extends "avatar/base.html" %}
{% load i18n avatar_tags %}
{% load url from future %}
{% load socialaccount %}
{% load account %}

{% block nav %}
<div class="row">
    <div class="small-12 large-12 columns">
        <dl class="sub-nav" style="margin-top: 4px; margin-bottom: 0px">
            <dd><a href="/" style="color: white"><i class="fi-home"></i> Votaciones</a></dd>
            <dd><a href="/results" style="color: white"><i class="fi-graph-pie"></i> Resultados</a></dd>
        </dl>
    </div>
</div>
{% endblock %}

{% block content %}
<div class="row">
    <div class="small-2 large-2 columns">
        <div class="icon-bar vertical" style="background-color: grey; height: 65%">
            <a class="item"></a>
            <a href="/accounts/avatar" class="item">
                <i class="fi-torsos-male-female"></i>
                <label>{% trans "Avatar" %}</label>
            </a>
            <a href="/accounts/profile" class="item" style="background-color: dimgrey">
                <i class="fi-list"></i>
                <label>{% trans "Account" %}</label>
            </a>
        </div>
    </div>
    <div class="small-10 large-10 columns">
        <br>
        <br>
        <h4 class="subheader">{% trans "Delete account" %}</h4>
        <br>
        <form action="/accounts/delete/" method="post"> {% csrf_token %}
            {{ delete_account_form.reason }}
            <input type="submit" value={% trans "Delete Account" %} class="right small radius button">
        </form>
    </div>
</div>
{% endblock %}
