{% extends "base.html" %}
{% load url from future %}
{% load i18n %}

{% block nav %}
<div class="row">
    <div class="small-12 large-12 columns">
        <dl class="sub-nav" style="margin-top: 4px; margin-bottom: 0px">
            <dd><a href="/" style="color: white"><i class="fi-home"></i> Votaciones</a></dd>
            <dd><a href="/results" style="color: white"><i class="fi-graph-pie"></i> Resultados</a></dd>
            <dd><a href="/delegatevote" style="color: white"><i class="fi-paperclip"></i> Delegar Votos </a></dd>
        </dl>
    </div>
</div>
{% endblock %}

{% block content %}
<div class="row">
    <div class="small-12 large-12 columns">
        <br>
        <br>
        <div class="panel radius">
            <h2>{% trans "Thanks for your time at Referenda.es" %}</h2>
        </div>
        <div class="panel radius">
            <h2>{% trans "We hope to see you soon!" %}</h2>
        </div>
    </div>
</div>

{% endblock %}
