{% extends "base.html" %}

{% load staticfiles %}

{% load avatar_tags %}
{% load i18n %}

{% load account %}
{% load url from future %}

{% block nav %}
<div class="row">
    <div class="small-12 large-12 columns">
        <dl class="sub-nav" style="margin-top: 4px; margin-bottom: 0px">
            <dd class="active"><a href="/"><i class="fi-home"></i> Votaciones</a></dd>
            <dd><a href="/results" style="color: white"><i class="fi-graph-pie"></i> Resultados</a></dd>
            <dd><a href="/delegatevote" style="color: white"><i class="fi-paperclip"></i> Delegar Votos </a></dd>
        </dl>
    </div>
</div>
{% endblock %}

{% block content %}
<br>
<div class="row">
    {% if poll_list %}

        {% for poll in poll_list %}
            <div class="small-12 large-12 columns">

                <div class="small-6 large-6 columns">
                    <ul class="pricing-table" itemscope itemtype="http://data-vocabulary.org/Event"
                            itemprop="eventType" "Votación">
                        <li class="title" style="text-align: left">
                            <a itemprop="url" href="/referendum/{{ poll.slug }}/">
                                <span itemprop="summary">{{ poll.headline }}</span>
                            </a>
                        </li>
                        <li class="bullet-item" style="text-align: left" itemprop="description">
                            {{ poll.short_description }}
                        </li>
                        <li class="bullet-item" style="text-align: left">
                        <a href={{ poll.link }} target="_blank"> {% trans "Full proposal" %}</a> |
                            <time itemprop="startDate" datetime="{{ poll.vote_date_start.date|date:"Y-m-d"}}T{{ poll.vote_date_start.time|date:"H:i" }}+01:00">
                            </time>
                            <time itemprop="endtDate" datetime="{{ poll.vote_date_end.date|date:"Y-m-d"}}T{{ poll.vote_date_end.time|date:"H:i" }}+01:00">
                            {% trans "Can vote until" %}
                            {{ poll.vote_date_end.date|date:"d" }}
                            {% trans "of" %} {{ poll.vote_date_end.date|date:"F" }}
                            </time>
                        </li>
                    </ul>
                </div>

                <div class="small-2 large-2 columns">
                    <ul class="pricing-table">
                        <li class="title">{% trans "Yes" %}</li>
                        <li class="price">{{ poll.votes_positive }}</li>
                        {% if user.is_authenticated %}
                            <li class="cta-button">
                            <form action="{% url 'vote' poll.id %}" method="post">
                            {% csrf_token %}
                            <input type="hidden" name="vote" value="Yes" />
                            {% if poll.vote_date_start < now < poll.vote_date_end %}
                                <input type="submit" class="button" value={% trans "Vote" %} />
                            {% else %}
                                <input type="submit" class="button disabled" value={% trans "Vote" %} />
                            {% endif %}
                            </form>
                            </li>
                        {% else %}
                            <li class="cta-button"><a class="button" href="{% url 'account_login' %}">{% trans "Vote" %}</a></li>
                        {% endif %}
                    </ul>
                </div>

                <div class="small-2 large-2 columns">
                    <ul class="pricing-table">
                        <li class="title small">No</li>
                        <li class="price">{{ poll.votes_negative }}</li>
                        {% if user.is_authenticated %}
                            <li class="cta-button">
                            <form action="{% url 'vote' poll.id %}" method="post">
                            {% csrf_token %}
                            <input type="hidden" name="vote" value="No" />
                            {% if poll.vote_date_start < now < poll.vote_date_end %}
                                <input type="submit" class="button" value={% trans "Vote" %} />
                            {% else %}
                                <input type="submit" class="button disabled" value={% trans "Vote" %} />
                            {% endif %}
                            </form>
                            </li>
                        {% else %}
                            <li class="cta-button"><a class="button" href="{% url 'account_login' %}">{% trans "Vote" %}</a></li>
                        {% endif %}
                    </ul>
                </div>
                <div class="small-2 large-2 columns">
                     <ul class="pricing-table">
                         <li class="title small">{% trans "Abstention" %}</li>
                        <li class="price">{{ poll.votes_abstention }}</li>
                        {% if user.is_authenticated %}
                            <li class="cta-button">
                            <form action="{% url 'vote' poll.id %}" method="post">
                            {% csrf_token %}
                            <input type="hidden" name="vote" value="Abs" />
                            {% if poll.vote_date_start < now < poll.vote_date_end %}
                                <input type="submit" class="button" value={% trans "Vote" %} />
                            {% else %}
                                <input type="submit" class="button disabled" value={% trans "Vote" %} />
                            {% endif %}
                            </form>
                            </li>
                        {% else %}
                            <li class="cta-button"><a class="button" href="{% url 'account_login' %}">{% trans "Vote" %}</a></li>
                        {% endif %}
                    </ul>
                </div>

            </div>

        {% endfor %}

    {% else %}
      <div class="panel radius">
        <h2>{% trans "This week there are no votings in the Congress" %}</h2>
      </div>
      <div class="panel radius">
        <h2>{% trans "Please, follow us on" %} <i class="fi-social-twitter style2"></i></h2>
      </div>
      <div class="panel radius">
        <h2>{%trans "We will let you know when votings are available" %}</h2>
      </div>
    {% endif %}
</div>
{% endblock %}
