{% extends "base.html" %}

{% load staticfiles %}

{% load avatar_tags %}
{% load i18n %}

{% load account %}
{% load url from future %}

{% block content %}

<div class="row">
    {% if poll_list %}

        {% for poll in poll_list %}
            <div class="small-12 large-12 columns">

                <div class="small-2 large-2 columns">
                    <ul class="pricing-table">
                        <li class="title small">No</li>
                        <li class="price">{{ poll.votes_negative }}</li>
                        {% if user.is_authenticated %}
                            <li class="cta-button">
                            <form action="{% url 'vote' poll.id %}" method="post">
                            {% csrf_token %}
                            <input type="hidden" name="vote" value="No" />
                            {% if poll.vote_date_start < now < poll.vote_date_end %}
                                <input type="submit" class="button" value={% trans "Vote" %} />
                            {% else %}
                                <input type="submit" class="button disabled" value={% trans "Vote" %} />
                            {% endif %}
                            </form>
                            </li>
                        {% else %}
                            <li class="cta-button"><a class="button" href="{% url 'account_login' %}">{% trans "Vote" %}</a></li>
                        {% endif %}
                    </ul>
                </div>
                <div class="small-2 large-2 columns">
                     <ul class="pricing-table">
                         <li class="title small">{% trans "Abstention" %}</li>
                        <li class="price">{{ poll.votes_abstention }}</li>
                        {% if user.is_authenticated %}
                            <li class="cta-button">
                            <form action="{% url 'vote' poll.id %}" method="post">
                            {% csrf_token %}
                            <input type="hidden" name="vote" value="Abs" />
                            {% if poll.vote_date_start < now < poll.vote_date_end %}
                                <input type="submit" class="button" value={% trans "Vote" %} />
                            {% else %}
                                <input type="submit" class="button disabled" value={% trans "Vote" %} />
                            {% endif %}
                            </form>
                            </li>
                        {% else %}
                            <li class="cta-button"><a class="button" href="{% url 'account_login' %}">{% trans "Vote" %}</a></li>
                        {% endif %}
                    </ul>
                </div>

                <div class="small-6 large-6 columns">
                    <ul class="pricing-table">
                        <li class="title" style="text-align: left"><a href="/referendum/{{ poll.id }}/">{{ poll.headline }}</a></li>
                        <li class="bullet-item" style="text-align: left">{{ poll.short_description }}</li>
                        <li class="bullet-item" style="text-align: left">
                        <a href={{ poll.link }} target="_blank">{% trans "Official link" %}</a> | 
                            {% trans "Can vote from" %} {{ poll.vote_date_start.date }} {% trans "until" %} {{ poll.vote_date_end.date }}
                        </li>
                    </ul>
                </div>

                <div class="small-2 large-2 columns">
                    <ul class="pricing-table">
                        <li class="title">{% trans "Yes" %}</li>
                        <li class="price">{{ poll.votes_positive }}</li>

                        {% if user.is_authenticated %}
                            <li class="cta-button">
                            <form action="{% url 'vote' poll.id %}" method="post">
                            {% csrf_token %}
                            <input type="hidden" name="vote" value="Yes" />
                            {% if poll.vote_date_start < now < poll.vote_date_end %}
                                <input type="submit" class="button" value={% trans "Vote" %} />
                            {% else %}
                                <input type="submit" class="button disabled" value={% trans "Vote" %} />
                            {% endif %}
                            </form>
                            </li>
                        {% else %}
                            <li class="cta-button"><a class="button" href="{% url 'account_login' %}">{% trans "Vote" %}</a></li>
                        {% endif %}
                    </ul>
                </div>
            </div>

        {% endfor %}

   {% else %}
   <p>{% trans "No polls are available." %}</p>
   {% endif %}

</div>

{% endblock %}
