{% extends "base.html" %}
{% load i18n avatar_tags %}
{% load url from future %}

{% block nav %}
<div class="row">
    <div class="small-12 large-12 columns">
        <dl class="sub-nav" style="margin-top: 4px; margin-bottom: 0px">
            <dd><a href="/" style="color: white"><i class="fi-home"></i> Votaciones</a></dd>
            <dd><a href="/results" style="color: white"><i class="fi-graph-pie"></i> Resultados</a></dd>
            <dd class="active"><a href="/delegatevote"><i class="fi-paperclip"></i> Delegar Votos</a></dd>
        </dl>
    </div>
</div>
{% endblock %}

{% block content %}
<div class="row">
    <div class="small-2 large-2 columns">
        <div class="icon-bar vertical" style="background-color: grey; height: 65%">
            <a class="item"></a>
            <a href="/accounts/avatar" class="item">
                <i class="fi-torsos-male-female"></i>
                <label>{% trans "Avatar" %}</label>
            </a>
            <a href="/accounts/location" class="item" style="background-color: dimgrey">
                <i class="fi-marker"></i>
                <label>{% trans "Location" %}</label>
            </a>
            <a href="/delegatevote" class="item">
                <i class="fi-paperclip"></i>
                <label>{% trans "Delegate" %}</label>
                <label>{% trans "Votes" %}</label>
            </a>
            <a href="/accounts/lawtier" class="item">
                <i class="fi-mail"></i>
                <label>{% trans "Poll types" %}</label>
            </a>
            <a href="/accounts/profile" class="item">
                <i class="fi-list"></i>
                <label>{% trans "Account" %}</label>
            </a>
        </div>
    </div>
    <div class="small-10 large-10 columns">
        <div class="row">
            <div class="small-8 large-8 columns">
                <br>
                <br>
                <h4 class="subheader">{% trans "Your current Region is: " %}</h4>
            </div>
            <div class="small-4 large-4 columns">
                <br>
                {% if location %}
                    <img src="{{ location.region.logo.url }}" style="height:100px;width:150px;">
                {% endif %}
            </div>
        </div>
        <h4 class="subheader">{% trans "Select your Region: " %}</h4>
        <form action="/accounts/location/region" method="post"> {% csrf_token %}
        {% if regions %}
            {% for region in regions %}
                <input type="image" name="region" value="{{region.name}}" src={{region.logo.url}} height="80" width="100">
                &nbsp;&nbsp;&nbsp;&nbsp;
            {% endfor %}
        {% endif %}
        </form>

        <hr>

        <div class="row">
            <div class="small-8 large-8 columns">
                <br>
                <br>
                <h4 class="subheader">{% trans "Your current City is: " %}</h4>
            </div>
            <div class="small-4 large-4 columns">
                <br>
                {% if location %}
                <img src="{{ location.city.logo.url }}" style="height:100px;width:150px;">
                {% endif %}
            </div>
        </div>
        <h4 class="subheader">{% trans "Select your City: " %}</h4>
        <form action="/accounts/location/city" method="post"> {% csrf_token %}
        {% if cities %}
            {% for city in cities %}
                <input type="image" name="city" value="{{city.name}}" src={{city.logo.url}} height="80" width="100">
                <input type="hidden" name="region" value="{{city.region}}">
                &nbsp;&nbsp;&nbsp;&nbsp;
            {% endfor %}
        {% endif %}
        </form>

        <br>
        <br>
        <p style="font-size:11px; text-align:right">Bandera Catalunya {% trans "by" %} <a href="http://commons.wikimedia.org/wiki/User:Martorell">Miguillen</a>
           , licencia <a href="http://creativecommons.org/licenses/by-sa/3.0/">CC BY-SA 3.0</a>.
        Escudo Madrid {% trans "by" %} <a href="http://commons.wikimedia.org/wiki/User:Platonides">Platonides</a>
            , licencia <a href="http://creativecommons.org/licenses/by-sa/3.0/">CC BY-SA 3.0</a>
        </p>
    </div>
</div>
{% endblock %}
