{% extends "avatar/base.html" %}
{% load i18n avatar_tags %}
{% load url from future %}
{% load socialaccount %}
{% load account %}

{% block nav %}
<div class="row">
    <div class="small-12 large-12 columns">
        <dl class="sub-nav" style="margin-top: 4px; margin-bottom: 0px">
            <dd><a href="/" style="color: white"><i class="fi-home"></i> Votaciones</a></dd>
            <dd><a href="/results" style="color: white"><i class="fi-graph-pie"></i> Resultados</a></dd>
            <dd><a href="/delegatevote" style="color: white"><i class="fi-paperclip"></i> Delegar Votos </a></dd>
        </dl>
    </div>
</div>
{% endblock %}

{% block content %}
<div class="row">
    <div class="small-2 large-2 columns">
        <div class="icon-bar vertical" style="background-color: grey; height: 65%">
            <a class="item"></a>
            <a href="/accounts/avatar" class="item">
                <i class="fi-torsos-male-female"></i>
                <label>{% trans "Avatar" %}</label>
            </a>
            <a href="/accounts/location" class="item">
                <i class="fi-marker"></i>
                <label>{% trans "Location" %}</label>
            </a>
            <a href="/delegatevote" class="item">
                <i class="fi-paperclip"></i>
                <label>{% trans "Delegate" %}</label>
                <label>{% trans "Votes" %}</label>
            </a>
            <a href="/accounts/lawtier" class="item">
                <i class="fi-mail"></i>
                <label>{% trans "Poll types" %}</label>
            </a>
            <a href="/accounts/profile" class="item" style="background-color: dimgrey">
                <i class="fi-list"></i>
                <label>{% trans "Account" %}</label>
            </a>
        </div>
    </div>
    <div class="small-10 large-10 columns">
        <br>
        <br>
        <h4 class="subheader">{% trans "Data provided directly to referenda.es: " %}</h4>
        <div class="row">
            <div class="small-4 large-4 columns">
                <p><b>Avatar: </b></p>
            </div>
            <div class="small-5 large-5 columns">
                {% avatar user 50 %}
            </div>
            <div class="small-3 large-3 columns">
                <p>{% trans "(Visible)" %}</p>
                <br>
            </div>
            <div class="small-4 large-4 columns">
                <p><b>{% trans "Location: " %} </b></p>
            </div>
            <div class="small-5 large-5 columns">
                {% if region_logo_url %}
                    <img src="{{ region_logo_url }}" style="height:50px;width:75px;">
                {% else %}
                    <p></p>
                {% endif %}
                {% if city_logo_url %}
                    <img src="{{ city_logo_url }}" style="height:50px;width:75px;">
                {% else %}
                    <p></p>
                {% endif %}
            </div>
            <div class="small-3 large-3 columns">
                <p>{% trans "(Visible)" %}</p>
                <br>
            </div>
            <div class="small-4 large-4 columns">
                <p><b>{% trans "Delegated vote: " %} </b></p>
            </div>
            <div class="small-5 large-5 columns">
                {% if delegated_vote_partie_logo_url %}
                    <img src="{{ delegated_vote_partie_logo_url }}" style="height:50px;width:75px;">
                {% endif %}
            </div>
            <div class="small-3 large-3 columns">
                <p>{% trans "(Not shown)" %}</p>
                <br>
            </div>
            <div class="small-4 large-4 columns">
                <p><b>{% trans "Polls type to be voted: " %}</b></p>
            </div>
            <div class="small-5 large-5 columns">
                <p class="subheader">{% trans "Level " %}
                {% if tier %}
                    {{ tier.tier }}
                {% endif %}</p>
            </div>
            <div class="small-3 large-3 columns">
                <p>{% trans "(Not shown)" %}</p>
            </div>
            <div class="small-12 large-12 columns">
                <hr>
                <h4 class="subheader">{% trans "Data provided through " %} {{ user.socialaccount_set.all.0.provider }}</h4>
            </div>
            <div class="small-9 large-9 columns">
                <p><b>{% trans "Username: " %}</b> {{ user }}</p>
                {% if user.first_name|length > 0 %}
                    <p><b>{% trans "First name: " %}</b> {{ user.first_name }}</p>
                {% endif %}
                {% if user.last_name|length > 0 %}
                    <p><b>{% trans "Last name: " %}</b> {{ user.last_name }}</p>
                {% endif %}
                {% if user.email|length > 0 %}
                    <p><b>{% trans "E-mail: " %} </b> {{ user.email }}</p>
                {% endif %}
            </div>
            <div class="small-3 large-3 columns">
                <p>{% trans "(Visible)" %}</p>
                <p>{% trans "(Not shown)" %}</p>
            </div>

            <div class="small-12 large-12 columns"><hr></div>
            <div class="small-9 large-9 columns"></div>
            <div class="small-3 large-3 columns">
                <a href="/accounts/delete" class="button alert">{% trans "Delete account" %}</a>
            </div>
        </div>
    </div>
</div>
{% endblock %}
