.mini-logo {
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-height: 60px;
  max-width: 100px;
  overflow: hidden;
}
.maxi-logo {
  max-height: 100px;
  max-width: 200px;
  padding: 2px;
  overflow: hidden;
}
.selectedParty{
  width: 15rem;
}
.table-sm > tbody > tr > td > a {
  color: #333;
}
.table-sm > tbody > tr > td > .active > a {
  color: #333;
}
.red {
    background-color: #ffe6e6;
}
.green {
    background-color: #e6ffee;
}
.search {
  margin-bottom: 10px;
}
