.law-detail {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.friso {
  display: flex;
  width: 100%;
  margin: 0 auto;
  padding: 0;
  align-items: center;
  justify-items: center;
  background: linear-gradient(180deg, rgba(0, 0, 0, 0.3) 0%, rgba(0, 0, 0, 0.3) 100%);
  background-size: cover;
  background-position: center;
}

.friso-right {
  min-width: 335px;
}

.law {
  display: flex;
  width: 100%;
  min-height: 850px;
  margin: 0 auto;
  padding: 0;
  justify-content: center;
  flex-grow: 1;
}

.voter {
  display: flex;
  flex-direction: column;
  width: 335px;
  max-width: 335px;
  min-height: 850px;
  margin-top: -387px;
  background: #3E979E;
  flex: 1;
}

.voter-sticky {
  position: sticky;
  top: 45px;
  min-height: 850px;
}

.mob-voter-container {
  display: none;
}

.law-headline {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 347px;
}

.headline-h2 {
  display: flex;
  height: 339px;
  width: 817px;
  margin: 0 auto;
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 29px;
  line-height: 130.7%;
  letter-spacing: 0.02em;
  color: #FFFFFF;
  text-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 20px;
  vertical-align: center;
}

.headline-h2 a {
  color: #FFFFFF;
  text-decoration-line: none;
}

.law-info {
  position: relative;
  width: 817px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 57px 66px 20px 57px;
  font-family: Roboto, sans-serif;
  font-style: normal;
  letter-spacing: 0.02em;
  background: #F3F3F3;
}

.headline {
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 25px;
  line-height: 130.7%;
  letter-spacing: 0.02em;
  color: #3E979E;
}

.description {
  width: 100%;
  padding: 20px 0px;
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 18px;
  line-height: 144.7%;
  letter-spacing: 0.02em;
  color: #333333;
  text-align: justify;
}

.voter-text {
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 17px;
  line-height: 20px;
  letter-spacing: 0.02em;
  color: #FFFFFF;
  opacity: 0.73;
}

.law-vote {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 8px;
  padding: 0 26px;
}

.voter-large-box {
  display: flex;
  width: 282px;
  height: 20px;
  padding: 12px 18px;
  background: #5BA7AD;
  text-align: center;
  cursor: pointer;
  position: static;
  font-family: Robota, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 130.7%;
  letter-spacing: 0.02em;
  color: #FFFFFF;
  align-items: center;
  justify-content: center;
  text-decoration: none;
}

.voter-large-box:hover {
  background: #BBD7D9;
}

.vote {
}

.voter-title {
  padding: 19px 26px;
}

.institution {
  display: flex;
  width: 310px;
}

.presented {
  width: 180px;
}

.presented-logo {
  display: flex;
  flex-direction: column;
  height: 78px;
  padding-top: 19px;
}

.mini-logo {
  display: flex;
  flex-direction: column;
  height: 35px;
  max-width: 96px;
}

.position {
  display: flex;
  flex-direction: row;
  height: 24px;
  padding: 0px 26px;
  gap: 0;
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.02em;
  color: #FFFFFF;
  opacity: 0.73;
}

.position:hover {
  cursor: pointer;
}

.favour {
  width: 76px;
  padding: 4px 10px;
}

.against {
  width: 100px;
  padding: 4px 9px;
}

.abstention {
  width: 107px;
  padding: 4px 10px;
}

.active {
  background-color: #51A1A8;
}

.position-hr {
  width: 301px;
  margin: 0 16px;
  border: 1px solid rgba(255, 255, 255, 0.1);
}

.parties {
  display: flex;
  flex-wrap: wrap;
  padding: 15px 26px;
  align-items: center;
  justify-content: space-between;
  gap: 12px
}

.parties::after {
  content: "";
  flex: auto;
}

.hover {
  position: absolute;
  display: flex;
  flex-direction: column;
  width: 215px;
  height: 180px;
  margin-left: -230px;
}

.yes-hover {
  margin-top: -410px;
}

.no-hover {
  margin-top: -358px;
}

.abs-hover {
  margin-top: -306px;
}

.results-title {
  padding: 4px 7px;
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 11px;
  line-height: 130.7%;
  letter-spacing: 0.02em;
}

.referenda {
  display: flex;
  flex-direction: column;
  height: 90px;
  background: #3E979E;
  color: rgba(255, 255, 255, 0.5);
}

.congreso {
  display: flex;
  flex-direction: column;
  height: 90px;
  background: #FFF;
  color: #3E979E
}

.results {
  display: flex;
  justify-items: stretch;
}

.votes {
  display: flex;
  flex-direction: column;
  margin: 6px auto;
}

.votes-number {
  display: flex;
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 33px;
  line-height: 130.7%;
  align-items: center;
  text-align: center;
  letter-spacing: 0.02em;
  color: #FFFFFF;
}

.votes-explanation {
  display: flex;
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 11px;
  line-height: 130.7%;
  align-items: center;
  text-align: center;
  letter-spacing: 0.02em;
  color: rgba(255, 255, 255, 0.5);
}

.azul {
  color: #3E979E;
}

.comments-button {
  position: absolute;
  display: flex;
  width: 283px;
  top: 621px;
}

.read-more {
  display: flex;
  top: 65vh;
  flex-direction: row;
  align-items: center;
  padding: 10px 18px;
  width: 165px;
  height: 53px;
  border: 2px solid #3E979E;
  box-sizing: border-box;
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 130.7%;
  text-align: center;
  letter-spacing: 0.02em;
  cursor: pointer;
  background: #FFFFFF;
  color: #3E979E;
}

.read-less {
  position: fixed;
  display: flex;
  top: 65vh;
  flex-direction: row;
  align-items: center;
  padding: 10px 18px;
  width: 165px;
  height: 53px;
  border: 2px solid #3E979E;
  box-sizing: border-box;
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 130.7%;
  text-align: center;
  letter-spacing: 0.02em;
  cursor: pointer;
  background: #FFFFFF;
  color: #3E979E;
}

.read-more:hover {
  background: #3E979E;
  color: #FFF;
}

.read-less:hover {
  background: #3E979E;
  color: #FFF;
}

.commentsactive {
  background: #BBD7D9;
}

.comments {
  width: 817px;
  padding: 57px 66px 20px 57px;
  background: #EBEBEB;
}

.comments-title {
  width: 227px;
  height: 33px;
  top: 35px;
  padding: 100px 0 20px 0;
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 25px;
  line-height: 130.7%;
  letter-spacing: 0.02em;
  color: #3E979E;
}

.comment-area {
  width: 618px;
  height: 131px;
  background: #F5F5F5;
  border-radius: 7px;
  margin: 10px 20px;
}

input::placeholder {
  width: 184px;
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 15px;
  line-height: 144%;
  letter-spacing: 0.02em;
  color: #BDBDBD;
  transform: translate3d(0, -45px, 0)
}

.comment-send {
  width: 220px;
  height: 53px;
  margin: 10px 20px;
  background: #3E979E;
  border: 2px solid #3E979E;
  box-sizing: border-box;
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 130.7%;
  text-align: center;
  letter-spacing: 0.02em;
  color: #FFFFFF;
  padding: 14px 18px;
  cursor: pointer;
}

.comment-tabs {
  display: flex;
  flex-direction: row;
  height: 40px;
  margin: 10px 20px;
  justify-items: start;
  gap: 10px;
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 130.7%;
  text-align: center;
  letter-spacing: 0.02em;
  color: #FFFFFF;
}

.tabs-base {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  background: #D8D8D8;
  cursor: pointer;
}

.tabs-base:hover {
  background: #B9B9B9;
}

.all {
  min-width: 136px;
  padding: 8px 18px 6px 18px;
}

.yes-comments {
  min-width: 74px;
  padding: 8px 10px 6px 10px;
}

.no-comments {
  min-width: 90px;
  padding: 8px 10px 6px 10px;
}

.abs-comments {
  min-width: 115px;
  padding: 8px 18px 6px 18px;
}

.top-comments {
  min-width: 200px;
  padding: 8px 18px 6px 18px;
}

.comments-list {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: calc(100% + 57px + 27px);
  margin: -10px 0 -20px -57px;
  padding: 57px 20px;
  background: #B9B9B9;
}

.activetab {
  background: #B9B9B9;
}

.comment {
  display: flex;
  flex-direction: column;
  gap: 10px;
  background: #F5F5F5;
  border-radius: 7px;
}

.comment-container {
  display: flex;
  width: 100%;
}

.comment-info {
  display: flex;
  flex-direction: column;
  width: calc(100% - 140px);
}

.comment-votes {
  display: flex;
  flex-direction: column;
  width: 140px;
  gap: 5px;
  padding: 20px 10px;
}

.comment-vote {
  display: flex;
  height: 40px;
  padding: 10px;
  border-radius: 7px;
  border: 2px solid #3E979E;
  box-sizing: border-box;
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 130.7%;
  align-items: center;
  text-align: center;
  letter-spacing: 0.02em;
  color: #3E979E;
  background: #FFF;
  cursor: pointer;
}

.uparrowbluebig {
  width: 21px;
  height: 11px;
  background: url(../../assets/img/uparrowblue.svg);
  margin-right: 10px;
}

.downarrowbluebig {
  width: 21px;
  height: 11px;
  background: url(../../assets/img/downarrowblue.svg);
  margin-right: 10px;
}

.comment-username {
  height: 33px;
  margin: 20px 0 0 20px;
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 25px;
  line-height: 130.7%;
  letter-spacing: 0.02em;
  color: #3E979E;
}

.comment-datetime {
  height: 22px;
  margin: -5px 0 5px 20px;
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 15px;
  line-height: 144.7%;
  letter-spacing: 0.02em;
  color: #BDBDBD;
}

.comment-content {
  margin: 0 0 5px 20px;
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 18px;
  line-height: 144.7%;
  letter-spacing: 0.02em;
  color: #828282;
}

.mob-voter-shower {
  display: flex;
  width: 100%;
  height: 53px;
  align-items: center;
  justify-content: space-between;
  gap: 72px;
  margin: 0 auto;
}

.mob-voter-menu {
  display: flex;
  width: calc(100% - 40px);
  height: auto;
  flex-direction: column;
  margin: 0 auto;
  padding: 8px 16px 16px 24px;
  gap: 10px;
  background: #3E979E;
  opacity: 0.93;
}

.miniuparrow {
  padding-right: 33px;
  width: 21px;
  height: 11px;
  background: url(../../assets/img/miniuparrow.svg) no-repeat;
  cursor: pointer;
}

.minidownarrow {
  padding-right: 33px;
  width: 21px;
  height: 11px;
  background: url(../../assets/img/minidownarrow.svg) no-repeat;
  cursor: pointer;
}

.voter-button-bar {
  display: flex;
  width: 100%;
  gap: 5px;
}

.voter-button {
  width: 119px;
  min-width: 119px;
  height: 55px;
  padding: 13px 5px;
  border: 2px solid #FFFFFF;
  box-sizing: border-box;
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 144%;
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  letter-spacing: 0.02em;
  color: #FFFFFF;
  background: #3E979E;
}

.voter-bar {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  width: 100%;
  height: 55px;
  background: rgba(255, 255, 255, 0.45);
}

.voter-bar-value {
  height: 55px;
  background: #FFFFFF;
  display: flex;
}

.voter-percentage {
  height: 55px;
  width: 100%;
  padding: 13px 12px;
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 144.7%;
  letter-spacing: 0.02em;
  color: #3E979E;
  text-align: right;
}

.facebook {
  padding-top: 7px;
  height: 34px;
  cursor: pointer;
}

.twitter {
  width: 50px;
  height: 50px;
  cursor: pointer;
}

.position-container {
  display: none;
}

@media (max-width: 1170px) {

  .law-info {
    width: calc(100% - 114px);
  }

  .comments {
    width: 100%;
  }

  .voter {
    min-width: 335px;
    left: 0;
  }
}

@media (max-width: 1152px) {

  .law-headline {
    height: 220px;
  }

  .headline-h2 {
    width: calc(100% - 335px);
    height: 220px;
  }

  .comment-area {
    width: 80%;
  }

}

@media (max-width: 950px) {

  .voter-sticky {
    position: absolute;
    height: 850px;
    top: 65px;
  }
}

@media (max-width: 760px) {

  .law-info {
    width: calc(100% - 30px);
    padding-right: 15px;
    padding-left: 15px;
  }

  .law {
    flex-direction: column;
    height: auto;
    min-height: auto;
  }

  .headline-h2 {
    width: calc(100% - 40px);
  }

  .friso-right {
    display: none;
  }

  .voter {
    display: none;
    width: 100%;
    background: rgba(235, 235, 235, 0.93);
  }

  .mob-voter-container {
    position: sticky;
    bottom: 53px;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: auto;
    align-items: center;
    gap: 72px;
    margin: 0 auto;
    background: #3E979E;
  }

  .mob-voter {
    display: flex;
    height: 53px;
    padding: 17px 24px;
    font-family: Roboto, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 17px;
    line-height: 20px;
    align-items: center;
    letter-spacing: 0.02em;
    color: #FFFFFF;
  }

  .comments-title {
    display: none;
  }

  .comment-tabs {
    display: none;
  }

  .comments-list {
    display: none;
  }

  .position-container {
    position: sticky;
    bottom: 0;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: auto;
    align-items: center;
    margin: 0 auto;
    background: rgba(235, 235, 235, 0.93);
    color: #3E979E;
  }

  .position-shower {
    display: flex;
    width: 100%;
    height: 53px;
    align-items: center;
    justify-content: space-between;
    gap: 72px;
    margin: 0 auto;
  }

  .position-menu {
    display: flex;
    width: calc(100% - 40px);
    height: auto;
    margin: 0 auto;
    padding: 0 16px 0 24px;
    gap: 10px;
    background: rgba(222, 228, 228, 0.93);
    justify-content: center;
  }

  .parties-position {
    display: flex;
    padding: 35px 0;
    align-items: center;
    gap: 18px;
  }

  .party-owner {
    left: 12.27%;
    font-family: Roboto, sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 17px;
    line-height: 20px;
    display: flex;
    align-items: center;
    letter-spacing: 0.02em;
    color: #000000;
    opacity: 0.73;
  }

  .miniuparrowblue {
    padding-right: 33px;
    width: 21px;
    height: 11px;
    background: url(../../assets/img/uparrowblue.svg) no-repeat;
    cursor: pointer;
  }

  .minidownarrowblue {
    padding-right: 33px;
    width: 21px;
    height: 11px;
    background: url(../../assets/img/downarrowblue.svg) no-repeat;
    cursor: pointer;
  }

  .azul-referenda {
    color: #3E979E;
  }

  .position-title {
    display: flex;
    height: 53px;
    padding: 17px 24px;
    font-family: Roboto, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 17px;
    line-height: 20px;
    align-items: center;
    letter-spacing: 0.02em;
  }

  .position-button {
    display: flex;
    height: 40px;
    padding: 20px 10px;
    font-family: Roboto, sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 17px;
    line-height: 20px;
    align-items: center;
    justify-content: center;
    letter-spacing: 0.02em;
    color: #3E979E;
    border: 2px solid #3E979E;
    box-sizing: border-box;
  }

  .favor {
    width: 110px;
  }

  .contra {
    width: 136px;
  }

  .abs-button {
    width: 73px;
  }

  .position-active {
    color: #FFF;
    background: #3E979E;
  }

  .position-logos {
    display: flex;
    flex-wrap: wrap;
    width: calc(100% - 80px);
    height: auto;
    gap: 14px;
    padding: 35px 40px 46px 40px;
    justify-content: start;
    background: rgba(222, 228, 228, 0.93);
  }

  .logo {
    height: 37px;
  }
}

@media (max-height: 850px) {

  .law-headline {
    height: 220px;
  }

  .headline-h2 {
    width: calc(100% - 335px);
    height: 220px;
  }
}
