<footer class="footer">
  <div class="container">
    <div class="media">
      <a routerLink="/laws"><img height=50 src="assets/img/logoR.png"></a>

      <div class="media-body footer" >
        <ul>
          <p>
            <a routerLink="/aboutus">Qui&eacute;nes somos</a> |
            <a routerLink="/cookies">Pol&iacute;tica de cookies</a> |
            <a routerLink="/gdpr">Proteci&oacute;n de datos</a> |
            <a routerLink="/developers">Developers</a> |
          Copyright © Referenda 2019 </p>
        </ul>
      </div>

      <div>
        <ul>
          <a class="btn btn-social-icon btn-lg btn-twitter" href="http://twitter.com/Referenda_es">
            <i class="fa fa-twitter"></i>
          </a>
          <a class="btn btn-social-icon btn-lg btn-default" href="mailto:admin@referenda.es">
            <i class="fa fa-envelope-o"></i>
          </a>
        </ul>
      </div>
    </div>
  </div>
</footer>
